<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v2/layout.html -->
{% extends 'layouts/v2/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'v4-1' %}

<!-- Set the page title -->
{% block pageTitle %}
Authentication code sent to your email - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row nhsuk-u-padding-top-7">

    <div class="nhsuk-grid-column-two-thirds">
    
        <form action="auth-code" method="post">
            <div class="nhsuk-form-group">
                <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-m">Create an account</span>Enter code to confirm your email address</h1>
                <p>We've sent a code to: <span class="nhsuk-u-body-weight-bold">{{ data['your-email'] }}</span></p>
                <label class="nhsuk-label" for="auth-code">Confirmation code</label>
                <div class="nhsuk-hint" id="example-with-hint-text-hint">
                    For example,123456
                </div>
                <details class="nhsuk-details">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        I have not received a code
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                        <p>The email may take a few minutes to arrive.</p>
                        <p>Check your junk folder. If it still has not arrived, you can <a href="#">request a new code</a> or <a href="your-email">provide another email address</a>.</p>
                    </div>
                  </details>
                <input class="nhsuk-input nhsuk-input--width-5" id="auth-code" name="auth-code" type="text">           
            </div>
            <button class="nhsuk-button" type="submit">Confirm</button>
        </form>

    </div>
</div>
{% endblock %}