<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v2/layout.html -->
{% extends 'layouts/v2/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'v4-1' %}

<!-- Set the page title -->
{% block pageTitle %}
What is your email address? - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row nhsuk-u-padding-top-7">

    <div class="nhsuk-grid-column-two-thirds">
    
        <form action="your-email" method="post">
            <div class="nhsuk-form-group">
                <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-m">Create an account</span>What is your email address?</h1>
                <p>This is the email address you'll use to sign into your account.</p>
                <p>If you work for the NHS, we recommend using your NHS email address.</p>
                <p>To confirm it is your email address, we'll send you a code after you’ve finished creating your account.</p>
                <label class="nhsuk-label" for="your-email">Email address</label>
                <input class="nhsuk-input nhsuk-input--width-20" id="your-email" name="your-email" type="text">              
            </div>
            <button class="nhsuk-button" type="submit">Continue</button>
        </form>

    </div>
</div>
{% endblock %}