<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/mvp/v4/layout-data-hub-hero.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->


<!-- include mini search to header (generally not included on data area landing page or homepage)-->
{% set includeMiniSearch = 'no' %}
<!-- Hero Filter Buttons -->
{% set showFilter = "no" %}

<!-- Set the page title -->
{% block pageTitle %}
{{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{% endblock %}

<!-- heroContent, large blue section at the top of homepage or any data area landing page -->
{% block heroContent %}
<div class="nhsuk-width-container-fluid {{ containerClasses }} nhsuk-u-margin-left-0 nhsuk-u-margin-right-0">
    <section class="nhsuk-hero">
        <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <div class="nhsuk-hero__wrapper app-hero__wrapper">
                        <h1 class="nhsuk-u-margin-bottom-4"><span class="nhsuk-caption-l custom-hero-caption">NHS
                                Business Services Authority</span>Data Hub</h1>
                        <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">Your central access point for exploring and
                            using data from the NHS Business Services Authority. The Data Hub is your go-to platform for
                            ensuring you can effectively work with NHSBSA data, unlocking its potential to drive better
                            decisions and outcomes across the health and care system</p>
                        <!-- Show filter at top of HTML -->
                        {% if 'yes' in showFilter %}
                        <button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0"
                            data-module="nhsuk-button" type="submit">
                            Dental
                        </button>
                        <button
                            class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
                            data-module="nhsuk-button" type="submit">
                            Ophthalmic
                        </button>
                        <button
                            class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
                            data-module="nhsuk-button" type="submit">
                            Prescription
                        </button>
                        <button
                            class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
                            data-module="nhsuk-button" type="submit">
                            Reports
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

<!-- Main content of the page -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <hr class="nhsuk-u-margin-top-0">
        <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">Services and information</h2>
        <h3 class="nhsuk-heading-m">
            <a href="prescribing-dispensing">Prescribing and Dispensing Data</a>
        </h3>
        <p>ePACT2 provides authorised users with interactive tools to analyse and export detailed prescribing and dispensing data.</p>
        <hr>
        <h3 class="nhsuk-heading-m">
            {% if userType == 'eden' %}
                <a href="data-products/eden/eden-loggedin">Dental Data (eDEN)</a>
            {% else %}
                <a href="data-products/eden/eden">Dental Data (eDEN)</a>
            {% endif %}
        </h3>
        <p>eDEN is an online tool that lets users quickly access, view, and export dental data through interactive reports and dashboards.</p>
        <hr>
        <h3 class="nhsuk-heading-m">
            {% if userType == 'eden' %}
                <a href="data-products/eops/eops-loggedin">Ophthalmic Data (eOPS)</a>
            {% else %}
                <a href="data-products/eops/eops">Ophthalmic Data (eOPS)</a>
            {% endif %}
        </h3>
        <p>eOPS is an online tool that enables users to quickly access, visualise, and export ophthalmic data through user-friendly reports and dashboards.</p>
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-6">
        <h2 class="nhsuk-heading-l">Featured</h2>
        <ul class="nhsuk-list">
            <li><a href="auth/sign-in">Sign in or Create account</a></li>
            <li><a href="product-news">Product news</a></li>
            <li><a href="training-material">Training material</a></li>
            <li><a href="https://www.nhsbsa.nhs.uk/help-and-support">Support</a></li>
        </ul>
    </div>

</div>
{% endblock %}