<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/mvp/v4/layout-data-hub.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- include mini search box in the header -->
{% set includeMiniSearch = 'no' %}

<!-- Set the page title -->
{% block pageTitle %}
News - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
    items: [
      {
        href: "/data-hub/mvp/v4/homepage",
        text: "Home"
      },
      {
          href: "/data-hub/mvp/v4/product-news",
          text: "Product news"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-4">
        <h1 class="nhsuk-heading-l">Coming soon: NHS Volunteering Find and Apply Service - Key Performance Indicators datasets</h1>
        <p>Performance data for the NHS Volunteering Find and Apply Service will soon be published on the NHSBSA Open Data Portal. Available as two separate datasets, these will provide insights into key service metrics for both organisations and volunteers using the service.</p>

        <h2 class="nhsuk-heading-m">What is NHS Volunteering?</h2>
        <p><a href="#">NHS Volunteering</a> is a find and apply service which enables the public to easily search for volunteering opportunities supporting the NHS. It allows NHS recruiters and eligible partners to advertise opportunities on a central platform and aims to increase numbers of volunteers.</p>

        <h2 class="nhsuk-heading-m">What are we publishing?</h2>
        <p>The NHS Volunteering Find and Apply Service Key Performance Indicators (KPI) datasets are being published in line with Standard 10 of the Central Digital and Data Office (CDDO). These will feature two distinct datasets, each providing key performance metrics for different users of the service:</p>

        <h2 class="nhsuk-heading-m">Organisation Users</h2>
        <p>This dataset provides insight into how NHS and partner organisations use the platform to publish volunteering opportunities. Key metrics include:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Total Transactions: The total number of volunteering opportunities published.</li>
            <li>Completion Rate: The percentage of opportunities published as a proportion of those that were started.</li>
            <li>Digital Take-up: The proportion of opportunities published via digital channels.</li>
            <li>Cost Per Transaction: Not applicable (N/A).</li>
            <li>Customer Satisfaction: Based on organisation user responses to the in-service NHS Volunteering Survey, scored from 1 to 10, with scores of 7-10 considered positive.</li>
        </ul>

        <h2 class="nhsuk-heading-m">Volunteer Users</h2>
        <p>This dataset focuses on prospective volunteers who search for and apply to opportunities. Key metrics include:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Total Transactions: The total number of applications submitted.</li>
            <li>Completion Rate: The percentage of applications completed as a proportion of those that were started.</li>
            <li>Digital Take-up: The proportion of applications submitted via digital channels.</li>
            <li>Cost Per Transaction: Not applicable (N/A).</li>
            <li>Customer Satisfaction: Based on volunteer user responses to the in-service NHS Volunteering Survey, scored from 1 to 10, with scores of 7-10 considered positive.</li>
        </ul>

        <h2 class="nhsuk-heading-m">Why are we publishing this data?</h2>
        <p>The NHS Volunteering datasets are being published to support transparency and accountability while helping to improve the service. Sharing this data allows us to assess how well the platform is performing and identify any areas for improvement. By monitoring key metrics such as completion rate, digital take-up, and customer satisfaction, we can better understand the experience of both applicants and recruiters, ensuring the platform continues to meet their needs.</p>
        <p>Publishing the datasets also aligns with the NHSBSA’s data strategy, which focuses on making data openly available wherever possible. Providing access to performance data helps NHS organisations, policymakers, and the public to see how NHS Volunteering is being used, while also ensuring that publicly funded services operate efficiently and deliver value for money.</p>

        <h2 class="nhsuk-heading-m">Further Information</h2>
        <p>If you have any queries before the datasets are published, please contact the Open Data team: <a href="#">Data Services Support</a></p>

    </div>
    <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
            <h2 class="nhsuk-heading-m">Share and subscribe</h2>
            <ul class="nhsuk-list nhsuk-u-margin-top-4">
                <li><a href="#">Share article</a></li>
                <li><a href="#">Subscribe to newsletter</a></li>
            </ul>
            <hr>
            <h2 class="nhsuk-heading-m">Related articles</h2>
            <a href="#"><h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">NHS Volunteers has gone live</h3></a>
            <p>Posted: 5 April 2025</p>
            <a href="#"><h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Volunteering service proposal</h3></a>
            <p>Posted: 25 March 2025</p>

          </div>        
    </div>

    <div class="nhsuk-grid-column-full">
        <hr class="nhsuk-u-margin-top-3">
        <p>Posted: 22 April 2025</p>
    </div>

</div>
{% endblock %}