<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/mvp/v4/layout-data-hub.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prototype Directory
{% endblock %}

{% block beforeContent %}
{{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l">Data Hub</span>
            Version 4 prototype directory
        </h1>
        <hr>
    </div>
    <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-m">Landing page</h2>
        <ul class="nhsuk-list">
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/homepage">Homepage</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/epact/epact">ePACT</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/epact/epact-loggedin">ePACT Logged in</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/eden/eden">eDEN</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/eden/eden-loggedin">eDEN Logged in</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/eops/eops">eOPS</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/eops/eops-loggedin">eOPS Logged in</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/public-available-data/index">Public available data</a></li>
        </ul>
        <h2 class="nhsuk-heading-m">Navigation</h2>
        <ul class="nhsuk-list">
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/prescribing-dispensing">Prescribing and dispensing</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/epact/dashboards/dashboards">ePACT dashboard list</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/epact/reports/prescribing-reports">ePACT reports list</a></li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-m">Sign in / registration</h2>
        <ul class="nhsuk-list">
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/auth/sign-in">Sign in or create an account</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/auth/your-name">Full name</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/auth/job-role">Job role</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/auth/associated-organisation">Organisation</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/auth/your-email">Email address</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/auth/check-your-answers">Check your answers</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/auth/auth-code">Authentication code</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/auth/create-password">Create a password</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/auth/my-account">My account</a></li>
        </ul>
        <h2 class="nhsuk-heading-m">Dashboards and reports</h2>
        <ul class="nhsuk-list">
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/epact/dashboards/premium-priced-generics">ePACT Dashboard</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/epact/dashboards/premium-priced-generics-full-screen">Full screen dashboard</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/epact/reports/premium-priced-generics">ePACT Report</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/epact/reports/premium-priced-generics-full-screen">Full screen report</a></li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-m">Training</h2>
        <ul class="nhsuk-list">
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/training-material">All training material</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/epact/training-material">ePACT training material</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/eden/training-material">eDEN training material</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/data-products/eops/training-material">eOPS training material</a></li>
            <li><a href=""></a></li>
        </ul>
        <h2 class="nhsuk-heading-m">News</h2>
        <ul class="nhsuk-list">
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/product-news">All product news</a></li>
            <li><a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v4/news-post">News article</a></li>
        </ul>        
    </div>
</div>
{% endblock %}