<div class="homepage-govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="nhsuk-tag nhsuk-tag--white govuk-phase-banner__content__tag">
        Beta
        </strong><span class="nhsuk-u-visually-hidden">service</span>
        <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="nhsuk-link" href="https://online1.snapsurveys.com/data-hub-feedback-survey" target="_blank">give your feedback (opens in new tab)</a>.
        </span>
    </p>
</div>