// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/notification-banner';
@import 'components/alerts-ho';
@import 'components/password-button';
// @import 'components/timeline';
@import 'components/moj-file-upload';

///////////////////////////////////////////
// Data Hub - Custom Styles
///////////////////////////////////////////

.flex {
    display: flex;
}

.custom-inline {
    display: inline;
}

span.custom-hero-caption {
    color: $color_nhsuk-grey-5;
}

.nhsuk-hero input.nhsuk-search__input {
    width: 585px;
}

// Search in header to be inline with 'My account'
.nhsuk-header__search.custom-search-inline {
    display: inline-block;
}

// My account
.nhsuk-account__login {
    float: right;
    margin-left: 1em;
    margin-right: -16px;
    position: relative;
    z-index: 2;
}

@media (min-width: 40.0625em) {
    .nhsuk-account__login {
        margin-right: -8px;
    }
}

a.nhsuk-account__login--link,
a.nhsuk-account__login--link:visited,
a.nhsuk-account__login--link:hover {
    color: #fff;
    padding: 1em;
}

.nhsuk-account__login--icon {
    fill: #fff;
    height: 1.6em;
    margin-left: .6em;
    position: relative;
    top: .4em;
    width: 1.6em;
}

.nhsuk-account__login--link:focus .nhsuk-account__login--icon {
    fill: #212b32;
}

// End My account

// News and Events
.custom-sort-by {

    .nhsuk-form-group {

        float: right;

        label {
            display: inline-block;
            text-align: right;
        }

    }
}

.custom-tag-filter {
    padding: 5px 10px;
    height: 220px;
    overflow-y: auto;
}

// End news and events

// Footer
ul.nhsuk-footer__list {
    width: 65%;
}

.custom-float-right {
    float: right;
}

///////////////////////////////////////////
// Other Custom Styles
///////////////////////////////////////////

// Prototype warning message
.prototype-warning {

    background-color: $color_nhsuk-yellow;

    .nhsuk-header__container {
        border-bottom: 0;              
    }

}

// Index page version tag positioning
.tag-positioning {
    position: absolute;
    right: 25px;
    top: 25px;
}

// Product Metrics Landing page: Card tag aligned with one another
.nhsuk-card__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .nhsuk-card__description {
        margin-top: auto;
    }
}

// Trend Icons
.trend-increased {
    &:after {
        content: "\25B2";
        display: inline-block;
        padding-right: 0.2em;
        color: $color_nhsuk-blue;
    }
}

.trend-decreased {
    &:after {
        content: "\25BC";
        display: inline-block;
        padding-right: 0.2em;
        color: $color_nhsuk-blue;
    }
}

// Trend colours
.trend-green {
    color: $color_nhsuk-green;
}

.trend-red {
    color: $color_nhsuk-red;
}

// Dates filter 
.date-filter-to {
    display: inline-block;
}

// latest data 
.latest-data {
    border: none;
    padding: 30px 0 0 0;
    border-top: 2px solid #ffffff;
    margin-top: 30px;

    @include nhsuk-media-query ($from: desktop) {
        border: 2px solid #ffffff;
        padding: 15px;
        margin-top: 0;
    }
    
}

// Override breadcrumbs padding bottom
.nhsuk-breadcrumb {
    padding-bottom: 16px;

    @include nhsuk-media-query($from: tablet) {
        padding-bottom: 24px;
    }
}

// hide 'Getting started' expander
.nhsuk-expander-hidden {
    display: none;
}

// sign out button (my account page)
.custom-sign-out {
    position: absolute;
    right: 15px;    
    top: 0;
}
// sign out header link
.custom-sign-out-button {
    border: 0;
    background: 0;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 16px;
    text-decoration: underline;

    &:focus, &:hover {
        text-decoration: none;
        padding: 10px 16px;
    }
}

a.nhsuk-account__login--link {
    padding: 10px 16px;

    &:focus, &:hover {
        text-decoration: none;
        padding: 10px 16px;
    }
}

.custom-position-relative {
    position: relative;
}

.custom-table--scroll {
    height: 400px;
    overflow: auto;
}
.custom-tab-table--scroll {
    height: 505.77px;
    overflow: auto;
}

.custom-full-width {

    .nhsuk-header__container {
        max-width: 100%;
        margin: 0 32px;
    }

}

// A to Z Search Filter (Tags)
.a-to-z-search-tag, .a-to-z-search-tag .remove-x {    
    cursor: pointer;
    text-transform: capitalize;
}
ul#searched-keywords {     
    li {
        display: inline-block;
        margin: 0 20px 20px 0;
    
        &:first-of-type {
            margin-left: 0;
        }
    } 
}
.custom-padding-top-12 {
    padding-top: 12px;
}


.nhsuk-search__submit {
    background-color: #007f3b;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    float: right;
    font-size: inherit;
    height: 52px;
    line-height: inherit;
    margin: 0;
    outline: 0;
    padding: 8px 8px 0;
    width: 52px;

    &:hover {
        background-color: rgb(0, 101.6, 47.2);
        cursor: pointer;
    }

    @include nhsuk-media-query ($from: mobile) {
        position: relative;
    }
}
.nhsuk-search__submit .nhsuk-icon__search {
    fill: #fff;
    height: 38px;
    width: 38px;
}

// Entra ID sign in box
.outer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  

    .sign-in-box {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        max-width: 440px;
        width: calc(100% - 40px);
        padding: 44px;
        margin-bottom: 28px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        min-width: 320px;
        min-height: 338px;
        overflow: hidden;

        input {
            width: 100%;
            padding: 4px 8px;
            border-style: solid;
            border-width: 2px;
            border-color: rgba(0, 0, 0, 0.4);
            background-color: rgba(255, 255, 255, 0.4);
            height: 32px;
            height: 2rem;
            padding: 6px 10px;
            border-width: 1px;
            border-color: #666;
            border-color: rgba(0, 0, 0, 0.6);
            height: 36px;
            outline: none;
            border-radius: 0;
            -webkit-border-radius: 0;
            background-color: transparent;
            border-top-width: 0;
            border-left-width: 0;
            border-right-width: 0;
            padding-left: 0;
            margin-bottom: 20px;
            font-size: 19px
        }
        .buttons {

            float: right;

            .back, .next {
                display: inline-block;
                min-width: 100px;
                padding: 4px 12px 4px 12px;
                margin-top: 4px;
                margin-bottom: 4px;
                position: relative;
                max-width: 100%;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                vertical-align: middle;
                text-overflow: ellipsis;
                touch-action: manipulation;
                color: #000;
                border-style: solid;
                border-width: 2px;
                border-color: transparent;
                min-height: 32px;
                border: none;
                background-color: #ccc;
                background-color: rgba(0, 0, 0, 0.2);
                min-width: 108px;
                line-height: normal;
                text-decoration: none;
            }
            .next {            
                color: #fff;
                border-color: #0067b8;
                background-color: #0067b8;
            }            
        }
        .boilerplate-text {
            background-color: #f2f2f2;
            padding: 24px 40px 24px 40px;
            margin: 76px -44px -44px -44px;
        }
    }
}

.nhsuk-header__logo {
    display: inline-block;

    @include nhsuk-media-query($from: tablet) {
        display: block;
    }
}

.nhsuk-header__container {
    display: flex;
}
.nhsuk-header__content {
    width: 80%;

    svg {
        display: none;

        @include nhsuk-media-query($from: tablet) {
            display: inline-block;
        }
    }

    .nhsuk-account__login {
        margin-right: 0;
    }

    a.nhsuk-account__login--link {
        padding: 0;
    }

    .custom-sign-out-button {
        padding: 5px;
        @include nhsuk-media-query($from: tablet) {
            padding: 10px 16px;
        }
    }
    
    @include nhsuk-media-query($from: tablet) {
        width: 50%;
        display: inline-block;

    }
}
.sign-in-request-access {

    .nhsuk-button--secondary {
        margin-left: 0;

        @include nhsuk-media-query($from: 768px) {
            margin-left: 0;
        }
        @include nhsuk-media-query($from: 887px) {
            margin-left: 24px;
        }
    }
}

// Hero padding override
.hero-visible {
    padding-top: 0;
}

.add-another-training {
    display: none;
}

// code snippet
p {
    code {
        background-color: #ffffff;
        color: #d14;
        font-size: 16px;
        line-height: 1.71429;
        padding: 2px 8px;
        word-break: break-word;
    }
}