// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/notification-banner';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

// Prototype warning message
.prototype-warning {

    background-color: $color_nhsuk-yellow;

    .nhsuk-header__container {
        border-bottom: 0;
    }

}


// Index page version tag positioning
.tag-positioning {
    position: absolute;
    right: 25px;
    top: 25px;
}

// Product Metrics Landing page: Card tag aligned with one another
.nhsuk-card__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .nhsuk-card__description {
        margin-top: auto;
    }
}

// Trend Icons
.trend-increased {
    &:after {
        content: "\25B2";
        display: inline-block;
        padding-right: 0.2em;
        color: $color_nhsuk-blue;
    }
}
.trend-decreased {
    &:after {
        content: "\25BC";
        display: inline-block;
        padding-right: 0.2em;
        color: $color_nhsuk-blue;
    }
}
// Trend colours
.trend-green {
    color: $color_nhsuk-green;
}
.trend-red {
    color: $color_nhsuk-red;
}

// Dates filter 
.date-filter-to {
    display: inline-block;
}