// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/notification-banner';
@import 'components/alerts-ho';
@import 'components/password-button';

///////////////////////////////////////////
// Data Hub - Custom Styles
///////////////////////////////////////////


// OVERRIDE - EXTEND PAGE WIDTH
// .nhsuk-width-container, .nhsuk-header__container {
//     max-width: 1400px
// }


span.custom-hero-caption {
    color: $color_nhsuk-grey-5;
}

.nhsuk-hero input.nhsuk-search__input {
    width: 585px;
}

// Search in header to be inline with 'My account'
.nhsuk-header__search.custom-search-inline {
    display: inline-block;
}

// My account
.nhsuk-account__login {
    float: right;
    margin-left: 1em;
    margin-right: -16px;
    position: relative;
    z-index: 2;
}

@media (min-width: 40.0625em) {
    .nhsuk-account__login {
        margin-right: -8px;
    }
}

.nhsuk-account__login--link,
.nhsuk-account__login--link:visited,
.nhsuk-account__login--link:hover {
    color: #fff;
    padding: 1em;
}

.nhsuk-account__login--icon {
    fill: #fff;
    height: 1.6em;
    margin-left: .6em;
    position: relative;
    top: .4em;
    width: 1.6em;
}

.nhsuk-account__login--link:focus .nhsuk-account__login--icon {
    fill: #212b32;
}

// End My account

// News and Events
.custom-sort-by {

    .nhsuk-form-group {

        float: right;

        label {
            display: inline-block;
            text-align: right;
        }

    }
}

.custom-tag-filter {
    padding: 5px 10px;
    height: 220px;
    overflow-y: auto;
}

// End news and events

// Footer
ul.nhsuk-footer__list {
    width: 65%;
}

.custom-float-right {
    float: right;
}

///////////////////////////////////////////
// Other Custom Styles
///////////////////////////////////////////

// Prototype warning message
.prototype-warning {

    background-color: $color_nhsuk-yellow;

    .nhsuk-header__container {
        border-bottom: 0;
    }

}

// Index page version tag positioning
.tag-positioning {
    position: absolute;
    right: 25px;
    top: 25px;
}

// Product Metrics Landing page: Card tag aligned with one another
.nhsuk-card__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .nhsuk-card__description {
        margin-top: auto;
    }
}

// Trend Icons
.trend-increased {
    &:after {
        content: "\25B2";
        display: inline-block;
        padding-right: 0.2em;
        color: $color_nhsuk-blue;
    }
}

.trend-decreased {
    &:after {
        content: "\25BC";
        display: inline-block;
        padding-right: 0.2em;
        color: $color_nhsuk-blue;
    }
}

// Trend colours
.trend-green {
    color: $color_nhsuk-green;
}

.trend-red {
    color: $color_nhsuk-red;
}

// Dates filter 
.date-filter-to {
    display: inline-block;
}

// latest data 
.latest-data {
    border: 2px solid #ffffff;
    padding: 15px
}

// Override breadcrumbs padding bottom
.nhsuk-breadcrumb {
    padding-bottom: 16px;
}

// hide 'Getting started' expander
.nhsuk-expander-hidden {
    display: none;
}

// sign out button (my account page)
.custom-sign-out {
    position: absolute;
    right: 15px;    
    top: 0;
}
.custom-position-relative {
    position: relative;
}

.custom-table--scroll {
    height: 400px;
    overflow: auto;
}
.custom-tab-table--scroll {
    height: 505.77px;
    overflow: auto;
}