<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v4/layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Unauthorised access - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">Unauthorised access</h1>
        <p>You do not have access to this page</p>
 
        <p>You can check your account to see which data products you can use.
        If you've already asked for access, we'll email you with a reply. 
        To request access, go to <a href="https://www.nhsbsa.nhs.uk/access-our-data-products/epact2/registering-epact2">ePACT2 access request</a> page.</p>
    </div>
</div>
{% endblock %}