<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v4/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'v4-3' %}

<!-- Set the page title -->
{% block pageTitle %}
e-Learning Training - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
items: [
{
href: "/data-hub/mvp/v4-3/homepage",
text: "Home"
},
{
href: "/data-hub/mvp/v4-3/training-hub/landing-page",
text: "Training hub"
},
{
href: "/data-hub/mvp/v4-3/training-hub/training-catalogue",
text: "Training catalogue"
}
]
}) }}
{% endblock %}

<!-- Main content of the page -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-l">Electronic prescribing analysis and cost tool (ePACT2) Introduction</h1>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2"><span class="nhsuk-u-font-weight-bold">Last updated:</span> 18
            September 2025</p>
        <p class="nhsuk-body-s"><span class="nhsuk-u-font-weight-bold">Author:</span> Daniel Grieve</p>
        <hr>
        <h2 class="nhsuk-heading-m">What does this training cover?</h2>
        <p>This training provides a general overview of ePACT2 highlighting the data being used within the system and a
            demonstration of some of the pre-built content available within the system.</p>
        <h2 class="nhsuk-heading-m">What will I learn from this training?</h2>
        <p>After completing this training you should:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>be confident with understanding what ePACT2 is and how to log on</li>
            <li>understand what data is available with the system</li>
            <li>understand the support resources available to you</li>
            <li>be confident navigating the system to view dashboards and reports</li>
        </ul>
        <h2 class="nhsuk-heading-m">Training resources</h2>
        <h3 class="nhsuk-heading-s">e-Learning</h3>
        <p><a href="https://nhsbsa.github.io/articulate-guide/#/" target="_blank">Start e-Learning (opens in a new tab)</a></p>
        <h3 class="nhsuk-heading-s">Word document</h3>
        <p class="nhsuk-u-margin-bottom-5"><a href="https://nhsbsauk-my.sharepoint.com/:w:/g/personal/katem_nhsbsa_nhs_uk/ERVg9OkL0_5PqVZxLBVX6NQBd8cLfcXwUliYHVUyNrQZxQ?e=jhIP3Q" target="_blank">ePACT2-Practice-Personally-Administered-Items-Report (Word, 2.2MB)</a></p>
        <h3 class="nhsuk-heading-s">Video</h3>
        <iframe width="100%" height="550" src="https://www.youtube.com/embed/9I6ukuktKYE?si=x-ub-JMGCr1xGcdY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <hr>
        <h2 class="nhsuk-heading-m">Tags</h2>
        <strong class="nhsuk-tag nhsuk-tag--white">
            Prescriptions
        </strong>
        <strong class="nhsuk-tag nhsuk-tag--white">
            Beginner
        </strong>
        <strong class="nhsuk-tag nhsuk-tag--white">
            ePACT2
        </strong>
        <strong class="nhsuk-tag nhsuk-tag--white">
            Introductory
        </strong>    
        <h2 class="nhsuk-heading-m nhsuk-u-margin-top-5">Related training</h2>
        <ul class="nhsuk-list">
            <li><a href="#">e-Learning User guide</a></li>
            <li><a href="#">e-Learning video tutorial</a></li>
        </ul>    
    </div>
</div>
{% endblock %}