<!-- Extends the layout from /docs/views/layouts-templates/ -->
{% extends "template-data-hub-hero.html" %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/prism.css" rel="stylesheet">
<link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

{% block header %}
<header class="nhsuk-header" role="banner">

    <div class="nhsuk-header__container">
        <div class="nhsuk-header__logo">
            <a class="nhsuk-header__link nhsuk-header__link--service " href="/data-hub/v1/homepage"
                aria-label="NHS homepage">
                <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
                    <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v36H0z"></path>
                    <path class="nhsuk-logo__text" fill="#fff"
                        d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
                    </path>
                </svg>

                <span class="nhsuk-header__service-name">
                    Data Hub
                </span>
            </a>
        </div>
        <div class="nhsuk-header__content" id="content-header">
            {% if 'yes' in includeMiniSearch %}
            <div class="nhsuk-header__search custom-search-inline">
                <div class="nhsuk-header__search-wrap" id="wrap-search">
                    <form class="nhsuk-header__search-form" id="search" action=" " method="get" role="search">
                        <label class="nhsuk-u-visually-hidden" for="search-field">Search the NHS website</label>
                        <input class="nhsuk-search__input" id="search-field" name="search-field" type="search"
                            placeholder="Search" autocomplete="off">
                        <button class="nhsuk-search__submit" type="submit">
                            <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                <path
                                    d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z">
                                </path>
                            </svg>
                            <span class="nhsuk-u-visually-hidden">Search</span>
                        </button>
                    </form>
                </div>
            </div>
            {% endif %}
            <div class="nhsuk-account__login">
                {% if data['signedIn'] == 'yes' %}
                    <a class="nhsuk-account__login--link nhsuk-contents-list__link" href="/data-hub/v1/auth/my-account">My account</a>
                    <form class="nhsuk-contents-list__link" action="sign-out" method="post">
                        <button class="custom-sign-out-button" type="submit">Sign out</button>
                    </form> 
                {% else %}
                    <a class="nhsuk-account__login--link" href="/data-hub/v1/auth/sign-in">
                        Sign in or create account
                    <svg class="nhsuk-account__login--icon" xmlns="http://www.w3.org/2000/svg"viewBox="0 0 32 32" height="26" width="26"><path d="M16,18.2c-3.1,0-5.7-2.5-5.7-5.7s2.5-5.7,5.7-5.7c3.1,0,5.7,2.5,5.7,5.7 C21.7,15.7,19.1,18.2,16,18.2"></path><path d="M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16s16-7.2,16-16C32,7.2,24.8,0,16,0 M24.1,27.5V26 c0-3.5-2.5-6.3-5.7-6.3h-4.8C10.5,19.6,8,22.5,8,26v1.6C1.6,23.1,0,14.3,4.5,8S17.7,0,24,4.5S32,17.7,27.5,24 C26.6,25.4,25.4,26.6,24.1,27.5"></path></svg></a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- <div class="nhsuk-navigation-container">
        <nav class="nhsuk-navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
            <ul class="nhsuk-header__navigation-list">
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="/data-hub/assumptions/v3/explore-our-data/explore-our-data">
                        Explore our data
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="#">
                        Our communities
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="/data-hub/assumptions/v3/news-events">
                        News and events
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="#">
                        Contact us
                    </a>
                </li>
            </ul>
        </nav>
    </div> -->
</header>
{% endblock %}

{% block footer %}
<footer role="contentinfo">
    <div class="nhsuk-footer-container">
        <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <div class="nhsuk-footer">
                <ul class="nhsuk-footer__list">
                    <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                        <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
                    </li>
                    <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                        <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
                    </li>
                    <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                        <a class="nhsuk-footer__list-item-link" href="#">Terms and Conditions</a>
                    </li>
                    <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                        <a class="nhsuk-footer__list-item-link" href="#">Data Services Support</a>
                    </li>
                    <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                        <a class="nhsuk-footer__list-item-link" href="https://www.nhsbsa.nhs.uk/help-and-support">Contact</a>
                    </li>
                </ul>
                <div>
                    <p class="nhsuk-footer__copyright">&copy; NHS Business Services Authority</p>
                </div>
            </div>
            <h3 class="nhsuk-heading-xs">Prototype purposes</h3>
            <ul class="nhsuk-list">
                <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                    <a class="nhsuk-footer__list-item-link" href="/">Back to Prototype Versioning</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
{% endblock %}

{% block bodyEnd %}
{% block scripts %}
{% include "includes/scripts.html" %}
{% block pageScripts %}{% endblock %}
{% endblock %}
{% endblock %}