<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/v1/layout-data-hub.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- include mini search box in the header -->
{% set includeMiniSearch = 'yes' %}

<!-- Set the page title -->
{% block pageTitle %}
News and events - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
    items: [
      {
        href: "/data-hub/v1/homepage",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-4">
        <h1 class="nhsuk-heading-l">News and events</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt libero recusandae esse veniam.</p>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
            data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Upcoming events
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Title of the event
                </h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum molestias facere quasi sed
                    aliquam dignissimos, laborum aspernatur praesentium atque sunt.</p>
                <p class="nhsuk-u-margin-bottom-0"><a href="#">View upcoming event</a></p>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Filters</h2>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                <h3 class="nhsuk-heading-s">Search</h3>
            </label>
            <input class="nhsuk-input" id="example" name="example" type="text">
        </div>
        <hr class="nhsuk-section-break nhsuk-section-break--visible">
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Type
                    </h3>
                </legend>
                <div class="nhsuk-hint nhsuk-u-visually-hidden" id="example-hint">
                    Select all options that are relevant to you.
                </div>
                <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email" checked>
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            News
                        </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox"
                            value="phone" checked>
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                            Events
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <hr class="nhsuk-section-break nhsuk-section-break--visible">
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Tags
                    </h3>
                </legend>
                <div class="nhsuk-hint nhsuk-u-visually-hidden" id="example-hint">
                    Select all options that are relevant to you.
                </div>
                <div class="nhsuk-checkboxes custom-tag-filter">

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Prescribing
                        </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox"
                            value="phone">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                            Dispensing
                        </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                            value="text message">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Dental
                        </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                            value="text message">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Ophthalmic
                        </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                            value="text message">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Reports
                        </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                            value="text message">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            latest
                        </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                            value="text message">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            upcoming
                        </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                            value="text message">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Open Data Portal
                        </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                            value="text message">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            GPs
                        </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                            value="text message">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            Provider Assurance
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <hr class="nhsuk-section-break nhsuk-section-break--visible">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                    Updated
                </h3>
            </legend>
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example">
                    Updated after
                </label>
                <div class="nhsuk-hint" id="example-with-hint-text-hint">
                    For example, 2020 or 21/02/2020
                </div>
                <input class="nhsuk-input" id="example" name="example" type="text">
            </div>
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example">
                    Updated before
                </label>
                <div class="nhsuk-hint" id="example-with-hint-text-hint">
                    For example, 2020 or 21/02/2020
                </div>
                <input class="nhsuk-input" id="example" name="example" type="text">
            </div>
        </fieldset>
        <hr class="nhsuk-section-break nhsuk-section-break--visible">
        <a class="nhsuk-button nhsuk-u-margin-top-4" href="#">Filter result</a>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <span class="nhsuk-heading-s nh">6 results</span>
            </div>
            <div class="nhsuk-grid-column-two-thirds custom-sort-by">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-u-margin-right-2" for="select-1">
                        Sort by
                    </label> <select class="nhsuk-select" id="select-1" name="select-1">
                        <option value="1" selected>Updated (newest)</option>
                        <option value="2">option 2</option>
                        <option value="3">option 3</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="nhsuk-u-margin-top-0">

        <h2 class="nhsuk-heading-s"><a href="news-post">Coming soon: Volunteering Find and Apply Service - Key Performance
                Indicators datasets</a></h2>
        <p>Performance data for the NHS Volunteering Find and Apply Service will soon be published on the NHSBSA Open
            Data Portal. Available as two separate datasets, these will provide insights into key service metrics for
            both organisations and volunteers.</p>
        <p class="nhsuk-u-margin-bottom-1"><span class="nhsuk-caption-m">Posted: 22 April 2025</span></p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">New ODP datasets now available: BNF codes</a></h2>
        <p>The British National Formulary (BNF) codes dataset is now available on the NHSBSA Open Data Portal (ODP). The
            dataset has migrated from being hosted on the Information Services Portal (ISP) to the ODP as part of a
            drive to improve services and better.</p>
        <p class="nhsuk-u-margin-bottom-1"><span class="nhsuk-caption-m">15 April 2025</span></p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Coming Soon: Transition to the English Prescribing Datasets (EPD) with
                SNOMED CT Codes</a></h2>
        <p>The NHS Business Services Authority (NHSBSA) is preparing to transition to the English Prescribing Dataset
            (EPD) with Systematised Nomenclature of Medicine Clinical Terms (SNOMED CT) codes as the primary dataset.
        </p>
        <p class="nhsuk-u-margin-bottom-1"><span class="nhsuk-caption-m">4 April 2025</span></p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Updated Dataset Now Available: Finalise Secondary Care Medicine Data
                (SCMD) with Indicative Pricing</a></h2>
        <p>We’ve updated how the Secondary Care Medicine Data (SCMD) with Indicative Pricing dataset is structured on
            the NHSBSA Open Data Portal (ODP), making it easier for users to track and analyse medicines stock movement
            across NHS.</p>
        <p class="nhsuk-u-margin-bottom-1"><span class="nhsuk-caption-m">20 March 2025</span></p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Coming soon - BNF codes dataset</a></h2>
        <p>In the coming weeks, the NHS Business Services Authority will migrate the British National Formulary (BNF)
            codes dataset from the Information Services Portal (ISP) to the Open Data Portal (ODP).</p>
        <p class="nhsuk-u-margin-bottom-1"><span class="nhsuk-caption-m">11 March 2025</span></p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">New Dataset Now Available: Dental New Patient Premium data</a></h2>
        <p>The Dental Recovery Plan dataset has now been published on the NHSBSA open data portal. For more information,
            including the context and reasoning behind the publication, please refer to our recent article.</p>
        <p class="nhsuk-u-margin-bottom-1"><span class="nhsuk-caption-m">11 February 2025</span></p>
        <hr>
    </div>
</div>
{% endblock %}