<!--
    This is the main layout where you can:
      - change the header and footer
      - add custom CSS and JavaScript
  -->
  
  <!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
  {% extends "template-data-hub.html" %}
  
  {% block head %}
    <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
    <link href="/css/main.css" rel="stylesheet">
  {% endblock %}
  
  <!-- Edit the header -->
  <!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
  {% block header %}
    {% if data.signedIn == 'yes' %}
    {% set accountItems = [] %}

    {% if data['full-name'] and data['job-role'] %}
      {% set accountItems = accountItems.concat([{
        text: data['full-name'] ~ " (" ~ data['job-role'] ~ ")",
        icon: true
      }]) %}
    {% else %}
      {% set accountItems = accountItems.concat([{
        text: "Florence Nightingale (Senior Information Analyst)",
        icon: true
      }]) %}
    {% endif %}
    
    {% set accountItems = accountItems.concat([
      { text: "My account", href: "/data-hub/mvp/" ~ prototypeVersion ~ "/auth/my-account" },
      { text: "Sign out", href: "/data-hub/mvp/" ~ prototypeVersion ~ "/auth/signed-out?signedIn=no?userType=" }
    ]) %}
    
    {{ header({
      logo: {
        href: "#",
        ariaLabel: "NHS Business Services Authority"
      },
      organisation: {
        name: "Business Services Authority",
        descriptor: "Data Hub"
      },
      account: {
        items: accountItems
      }
    }) }}
    {% else %}
        {{ header({
            logo: {
            href: "#",
            ariaLabel: "NHS Business Services Authority"
            },
            organisation: {
                name: "Business Services Authority",
                descriptor: "Data Hub"
            },
            account: {
            items: [
                {
                text: "Sign in or create an account",
                href: "/data-hub/mvp/" ~ prototypeVersion ~ "/auth/entra-id/enter-username",
                icon: true
                }
            ]
            }
        }) }}
    {% endif %}
  {% endblock %}
  
  <!-- Edit copyright HTML for the footer -->
  {% set copyrightHTML %}
    
        <svg class="nhsuk-u-static-margin-right-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 17" aria-hidden="true" focusable="false" height="17" width="41">
        <path fill="currentColor" d="M35.77 12.4V.02l-4.3 2.8V16.8H41v-4.4Zm-10.38-.83a3.93 3.93 0 0 1-4.29.64 4.09 4.09 0 0 1-2.35-3.71 3.97 3.97 0 0 1 7.36-2.2l3.63-2.35A8.25 8.25 0 0 0 22.75.02c-3.1 0-5.8 1.74-7.22 4.3A8.3 8.3 0 0 0 8.3.02 8.4 8.4 0 0 0 0 8.5a8.4 8.4 0 0 0 8.3 8.48c3.1 0 5.8-1.75 7.22-4.32a8.17 8.17 0 0 0 12.7 2.2l1.64 1.93h.25V9.18h-6.79Zm-17.1 1.02A4.04 4.04 0 0 1 4.3 8.5c0-2.25 1.8-4.08 4-4.08s4 1.82 4 4.08c0 2.25-1.8 4.09-4 4.09"></path>
        </svg>
        All content is available under the <a class="nhsuk-footer__list-item-link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated.
    
  {% endset %}
  <!-- Edit the footer -->
  <!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
  {% block footer %}
  {{ footer({
      meta: {
          items: [
          {
              href: "#",
              text: "Accessibility statement"
          },
          {
              href: "#",
              text: "Contact us"
          },
          {
              href: "#",
              text: "Cookies"
          },
          {
              href: "#",
              text: "Privacy policy"
          },
          {
              href: "#",
              text: "Terms and conditions"
          },
          {
            href: "https://www.nhsbsa.nhs.uk/",
            text: "NHS Business Services Authority"
        },
          {
              href: "/iteration-history",
              text: "Prototype version history (prototype only)"
          },
          {
              href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
              text: "Reset data (prototype only)"
          }
          ]
      },
      copyright: {
          html: copyrightHTML | safe
      }
      }) }}      
  {% endblock %}
  
  {% block bodyEnd %}
    <script src="/nhsuk-frontend/nhsuk-frontend.min.js" type="module"></script>
    <script type="module">
      import { initAll } from '/nhsuk-frontend/nhsuk-frontend.min.js'
      initAll()
    </script>
    {% block scripts %}
      <!-- Custom JavaScript files can be added to this file -->
      {% include "includes/scripts.html" %}
      <!-- For adding page specific JavaScript -->
      {% block pageScripts %}{% endblock %}
    {% endblock %}
  {% endblock %}
  