<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/v1/layout-data-hub-hero.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- include mini search box in the header -->
{% set includeMiniSearch = 'no' %}
<!-- Hero Filter Buttons -->
{% set showFilter = "no" %}

<!-- Set the page title -->
{% block pageTitle %}
Ophthalmic data (eOPS) - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
items: [
{
href: "/data-hub/v1/homepage",
text: "Home"
}
]
}) }}
{% endblock %}

<!-- heroContent, large blue section at the top of homepage or any data area landing page -->
{% block heroContent %}
<div class="nhsuk-width-container-fluid {{ containerClasses }} nhsuk-u-margin-left-0 nhsuk-u-margin-right-0">
    <section class="nhsuk-hero">
        <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-hero__wrapper app-hero__wrapper">
                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-two-thirds">
                                <h1 class="nhsuk-u-margin-bottom-4">Ophthalmic Data (eOPS)</h1>
                                <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">The service will allow you to access
                                    interactive and easy to use dental data reports and dasboards</p>
                                <!-- Show filter at top of HTML -->
                                {% if 'yes' in showFilter %}
                                <button
                                    class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0"
                                    data-module="nhsuk-button" type="submit">
                                    Reports
                                </button>
                                <button
                                    class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
                                    data-module="nhsuk-button" type="submit">
                                    Dashboards
                                </button>
                                <button
                                    class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
                                    data-module="nhsuk-button" type="submit">
                                    Latest release
                                </button>
                                <button
                                    class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
                                    data-module="nhsuk-button" type="submit">
                                    Ophthalmic
                                </button>
                                {% endif %}
                            </div>
                            <div class="nhsuk-grid-column-one-third">
                                <div class="latest-data">
                                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-3">Latest data</h2>
                                    <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">Ophthalmic data: <span
                                            class="nhsuk-u-font-weight-bold">January 2025</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-6">
        <!-- <h2 class="nhsuk-heading-m">My folders</h2>
        <p>Access all data you have favourited, analysis you have created and datasets shared with you.</p>
        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="#">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v34H0z" fill="none"></path>
                    <path
                        d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                </svg>
                <span class="nhsuk-action-link__text">My folders</span>
            </a>
        </div>
        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="#">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v34H0z" fill="none"></path>
                    <path
                        d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                </svg>
                <span class="nhsuk-action-link__text">My favourites</span>
            </a>
        </div>
        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="#">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v34H0z" fill="none"></path>
                    <path
                        d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                </svg>
                <span class="nhsuk-action-link__text">My shared folders</span>
            </a>
        </div>
        <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-7">
        <h2 class="nhsuk-heading-m">Dashboards</h2> -->
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-full nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
                    <div class="nhsuk-card__content nhsuk-card__content--secondary">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="#">eOPS v3 - With Performer Data</a> </h2>
                        <p class="nhsuk-card__description">Electronic General Ophthalmic Services (eGOS) claim level dataset, including performer level data</p>
                    </div>
                </div>
            </li>
            <li class="nhsuk-grid-column-full nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
                    <div class="nhsuk-card__content nhsuk-card__content--secondary">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="#">eOPS v1 - Open Exeter Data Only</a> </h2>
                        <p class="nhsuk-card__description">Data from Open Exeter paper form submissions</p>
                    </div>
                </div>
            </li>
            <li class="nhsuk-grid-column-full nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
                    <div class="nhsuk-card__content nhsuk-card__content--secondary">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="#">eOPS v3 - Open Exeter & eGOS Data</a> </h2>
                        <p class="nhsuk-card__description">Combination of eGOS data from Primary Care Support England (PCSE) and Open Exeter data</p>
                    </div>
                </div>
            </li>
            <li class="nhsuk-grid-column-full nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
                    <div class="nhsuk-card__content nhsuk-card__content--secondary">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="#">NHSE GOS Eligibility Dashboard</a> </h2>
                        <p class="nhsuk-card__description">Summary of GOS Eligiility reasons by GOS claim type</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-6">
        <h2 class="nhsuk-heading-m">Useful links</h2>
        <ul class="nhsuk-list">
            <li><a href="#">Data release calendar</a></li>
            <li><a href="#">Department of Health and Social Care</a></li>
            <li><a href="#">eOPS website</a></li>
            <li><a href="#">General Ophthalmic Services (GOS) activity data</a></li>
            <li><a href="#">General Ophthalmic Services (GOS) activity statistics</a></li>
            <li><a href="#">How to request ophthalmic data</a></li>            
            <li><a href="#">NHS England optometry_commissioning</a></li>
            <li><a href="../../product-news">Latest eOPS news</a></li>
        </ul>
        <h2 class="nhsuk-heading-m">Guidance</h2>
        <ul class="nhsuk-list">
            <li><a href="#">Book an eOPS training webinar</a></li>
            <li><a href="https://www.nhsbsa.nhs.uk/help-and-support">Contact us</a></li>            
            <li><a href="training-material">Training material</a></li>
            <li><a href="#">eOPS dashboard information</a></li>
        </ul>
    </div>
</div>
{% endblock %}