<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v5/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'dc146' %}

<!-- Set the page title -->
{% block pageTitle %}
Premium priced generics - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
items: [
{
href: "/data-hub/mvp/dc146/homepage",
text: "Home"
},
{
href: "/data-hub/mvp/dc146/prescribing-dispensing",
text: "Prescribing and dispensing"
},
{
href: "/data-hub/mvp/dc146/data-products/epact/epact-loggedin",
text: "ePACT2"
},
{
href: "../../data-products/epact/dashboards/dashboards",
text: "Dashboards and reports"
}
]
}) }}
{% endblock %}


{% block content%}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-l">Create new dashboard or report</h1>

        {% call details({
            summaryText: "Markdown guide"
            }) %}
            <p>This is a guide to writing markdown.</p>
            <p>To create headings within the body of the article, you start with <code>## insert-heading</code>, if there are any other headings within a section then you must use the next heading level <code>### insert-heading</code></p>
            <p>When you are creating paragraphs there is no markdown to include, just add your content.</p>
            <!-- <p>To create bold text:<br><code>**bold text**</code></p> -->
            <p>To create ordered lists:<br><code>1. first item</code><br><code>2. second item</code><br><code>3. third item</code></p>
            <p>To create unordered lists:<br><code>- first item</code><br><code>- second item</code><br><code>- third item</code></p>
            <p>To create a link:<br><code>[link title](URL)</code></p>
            {% endcall %}

        <form action="related-resources-required" method="post">

            {{ input({
                label: {
                text: "Enter a title"
                },
                id: "dashboardReportTitle",
                name: "dashboard-report-title"                
            }) }}

            {{ input({
                label: {
                text: "Enter a summary"
                },
                id: "dashboardSummary",
                name: "dashboard-summary"                
            }) }}

            {{ input({
                label: {
                text: "Enter a version number"
                },
                id: "versionNumber",
                name: "version-number",
                classes: "nhsuk-input--width-5"
            }) }}

            {{ input({                
                label: {
                text: "Paste the URL to embed the dashboard or report"
                },
                hint: {
                text: "This should be provided to you."
                },
                name: "dashboard-report-iframe",
                id: "dashboard-report-iframe"
            }) }}

            {{ input({
                label: {
                text: "Provide a link to this in Oracle (optional)"
                },
                id: "link-to-oracle",
                name: "link-to-oracle"
            }) }}

            {{ textarea({
                name: "metadata-overview",
                id: "metadata-overview",
                rows: "5",
                label: {
                text: "Enter an overview of this data"
                },
                hint: {
                text: "You can add markdown."
                }
            }) }}
            
            <hr>

            <h2 class="nhsuk-heading-m">Dashboard information</h2>

            {{ textarea({
                name: "our-method",
                id: "our-method",
                rows: "3",
                label: {
                text: "Enter the methodology used for this data (optional)"
                },
                hint: {
                text: "You can add markdown."
                }
            }) }}

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="file-upload-1">
                Upload the data dictionary (optional)
                </label>
                <div id="example-right-size-hint" class="nhsuk-hint">
                    This should be uploaded as a CSV file
                </div>
                <input class="nhsuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
            </div>

            {{ input({
                label: {
                text: "Enter a time period (optional)"
                },
                id: "time-period",
                name: "time-period",
                classes: "nhsuk-input--width-20"
            }) }}

            {{ textarea({
                name: "geographical-coverage",
                id: "geographical-coverage",
                rows: "2",
                label: {
                text: "Enter the geographical coverage (optional)"
                },
                hint: {
                text: "You can add markdown."
                }
            }) }}

            {{ textarea({
                name: "organisational-level",
                id: "organisational-level",
                rows: "2",
                label: {
                text: "Enter the organisational level (optional)"
                },
                hint: {
                text: "You can add markdown."
                }
            }) }}

            {{ textarea({
                name: "data-updated",
                id: "data-updated",
                rows: "3",
                label: {
                text: "Enter how often is the data updated (optional)"
                },
                hint: {
                text: "You can add markdown."
                }
            }) }}

            {{ textarea({
                name: "data-lineage",
                id: "data-lineage",
                rows: "3",
                label: {
                text: "Enter the data lineage or provenance (optional)"
                },
                hint: {
                text: "You can add markdown."
                }
            }) }}

            <hr>
            <h2 class="nhsuk-heading-m">Data reuse policy and limitations</h2>

            {{ textarea({
                name: "caveats-limitations",
                id: "caveats-limitations",
                rows: "5",
                label: {
                text: "Enter the caveats and limitations (optional)"
                },
                hint: {
                text: "You can add markdown."
                }
            }) }}

            <div class="nhsuk-button-group">
                {{ button({
                    text: "Continue",
                    classes: "nhsuk-button",
                    attributes: {
                    name: "action",
                    value: "preview"
                    }
                }) }}

                <a class="nhsuk-button nhsuk-button--secondary" href="draft-dashboards">Save as draft</a>

                <a class="nhsuk-link" href="../../data-products/epact/dashboards/dashboards">Cancel</a>
            </div>
            
        </form>
                  
    </div>
</div>
{% endblock %}