<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v5/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'dc146' %}

<!-- Set the page title -->
{% block pageTitle %}
Draft dashboards and reports - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
    items: [
      {
        href: "/data-hub/mvp/dc146/homepage",
        text: "Home"
      },
      {
          href: "/data-hub/mvp/dc146/auth/my-account",
          text: "My account"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l">Draft dashboards and reports</h1>
    </div>

    <div class="nhsuk-grid-column-full">
        <hr>
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Prescriptions data</a></h2>
        <p>We will shortly be releasin a large amount of prescriptions data.</p>
        <hr>
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Ophthalmic report 2025</a></h2>
        <p>new report to be released for Ophthlmic.</p>
        <hr>
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Dispensing report</a></h2>
        <p>A planned release for the new dispensing report.</p>
        <hr>

    </div>
</div>
{% endblock %}