<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v5/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'dc146' %}

<!-- Set the page title -->
{% block pageTitle %}
Premium priced generics - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.njk" %}
{{ breadcrumb({
items: [
{
href: "/data-hub/mvp/dc146/homepage",
text: "Home"
},
{
href: "/data-hub/mvp/dc146/data-products/epact/epact-loggedin",
text: "ePACT2"
},
{
href: "../../data-products/epact/dashboards/dashboards",
text: "Dashboards and reports"
},
{
href: "../../admin-view/dashboards/create-dashboard",
text: "Create new dashboard or report"
},
{
href: "../../admin-view/dashboards/add-related-resources",
text: "Would you like to add resources"
}
]
}) }}
{% endblock %}


{% block content%}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l">Add related resources</h1>
        <p>Search for resources available on the data hub, or manually enter resources from external sources.</p>

        {{ input({
            id: "search-resources",
            name: "searchResources",
            label: {
              text: "Search data hub resources"
            }
        }) }}
        
        <a href="results-search-related-resources" class="nhsuk-button nhsuk-button--secondary">Search</a>

        {% call details({
        summaryText: "Add resources manually"
        }) %}
            {{ input({
                id: "resource-title",
                name: "resourceTitle",
                label: {
                text: "What is the title of the resource"
                }
            }) }}
            {{ textarea({
                name: "resourceDescription",
                id: "resource-description",
                rows: "3",
                label: {
                  text: "Enter a short description for this resource"
                }
              }) }}
            {{ input({
                id: "resource-url",
                name: "resourceURL",
                label: {
                  text: "Enter the URL to the resource"
                }
            }) }}
            {{ radios({
                idPrefix: "filter",
                name: "filter",
                fieldset: {
                  legend: {
                    text: "What type of resource is this?",
                    size: "m"
                  }
                },                
                items: [
                  {
                    value: "data-product",
                    text: "Data product"
                  },
                  {
                    value: "training-guide",
                    text: "Training guide"
                  },
                  {
                    value: "news-article",
                    text: "News article"
                  },
                    {
                    value: "service-spec",
                    text: "Service specification"
                    }
                ]
              }) }}       
              <a href="#" class="nhsuk-button nhsuk-button--secondary">Add</a>                 
        {% endcall %}

        <div class="nhsuk-button-group">
            <a href="results-search-related-resources" class="nhsuk-button">Preview</a>   
            <a href="../dashboards/draft-dashboards" class="nhsuk-button nhsuk-button--secondary">Save as draft</a>
            <a href="#">Cancel</a>
        </div> 
    </div>
</div>
{% endblock %}