<!-- Use this page as the index for your project -->

<!-- 

CONTENT HELD ON:
https://bsa2468.atlassian.net/wiki/spaces/IN/pages/5480906753/Error+Pages

-->

{% extends 'layouts/v5/layout.html' %}

{% set prototypeVersion = 'dc146' %}
{% set pageTitleText = 'You do not have access to this page' %}

<!-- Set the page title -->
{% block pageTitle %}
{{ pageTitleText }} - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">{{ pageTitleText }}</h1>
 
        <p>Check your account to see which data products you can use.</p>
        <p>If you've already requested for access, we'll reply within 7 days.</p>
        <p>If you do not have access, <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/access-our-data-products/epact2/registering-epact2">request access to ePACT2</a>.</p>
        <p>If you have access but cannot see the page, <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/help-and-support">contact our data services support team</a> for help.</p>

    </div>
</div>
{% endblock %}