<!-- Use this page as the index for your project -->

<!-- 

CONTENT HELD ON:
https://bsa2468.atlassian.net/wiki/spaces/IN/pages/5480906753/Error+Pages

-->

{% extends 'layouts/v5/layout.html' %}

{% set prototypeVersion = 'dc146' %}
{% set pageTitleText = 'You do not have access to this page' %}

<!-- Set the page title -->
{% block pageTitle %}
{{ pageTitleText }} - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}


<!-- Main content of the page -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">{{ pageTitleText }}</h1>
        
        <p>If you need access to this data product, <a class="nhsuk-link" href="mailto:dataservicessupport@nhsbsa.nhs.uk">email our data services support team</a> for help.</p>
    
    </div>
</div>
{% endblock %}