<!-- Use this page as the index for your project -->

<!-- 

CONTENT HELD ON:
https://bsa2468.atlassian.net/wiki/spaces/IN/pages/5480906753/Error+Pages

-->

{% extends 'layouts/v5/layout.html' %}

{% set prototypeVersion = 'dc146' %}
{% set pageTitleText = 'You are not signed in' %}

<!-- Set the page title -->
{% block pageTitle %}
{{ pageTitleText }} - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">{{ pageTitleText }}</h1>
 
        <p><a class="nhsuk-link" href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/dc146/auth/entra-id/enter-username">Sign in or create an account</a> to see which data products you can use.</p>
        
    </div>
</div>
{% endblock %}