<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/prod-metrics-layout-warning.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="javascript:history.back()">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true" height="24" width="24">
                    <path
                        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                </svg>
                Go back</a>
        </div>

        <span class="nhsuk-caption-l">Baby Loss Certificate</span>
        <h1 class="nhsuk-heading-xl">User-centric insights</h1>
        <p></p>
    </div>

    <div class="nhsuk-grid-column-two-thirds">        
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                    Baby existence recognition has increased by
                </h2>
                <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-3">96%<span
                        class="nhsuk-u-visually-hidden">Applicants</span></p>
                <p class="nhsuk-card__description nhsuk-body-s">
                    <span class="trend-increased trend-green nhsuk-body-l nhsuk-u-margin-bottom-1">+10.65% </span>
                    September 2024 to October 2024
                </p>
            </div>
        </div>
    </div>
    <div class="nhsuk-grid-column-one-third">        
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                    Parents with certificates
                </h2>
                <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-3">320,049<span
                        class="nhsuk-u-visually-hidden">Applicants</span></p>
                <p class="nhsuk-card__description nhsuk-body-s">
                    <span class="trend-increased trend-green nhsuk-body-l nhsuk-u-margin-bottom-1">+50.87% </span>
                    2023/24
                </p>
            </div>
        </div>
    </div>
    <div class="nhsuk-grid-column-one-half">        
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                    NHS staff trained
                </h2>
                <p>Training to provide support to grieving parents and guardians.</p>
                <img id="certs-issued" class="nhsuk-image__img" src="/images/baby-loss-cert/training-bar-chart.png" alt="AWS Compute Daily" style="width:100%;height:100%;">
            </div>
        </div>
    </div>
    <div class="nhsuk-grid-column-one-half">        
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                    Total NHS staff trained in providing support to grieving parents and guardians
                </h2>
                <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-3">16,756</p>
                <p class="nhsuk-card__description nhsuk-body-s">
                    <span class="trend-increased trend-green nhsuk-body-l nhsuk-u-margin-bottom-1">+33.62% </span>
                    January 2024 to November 2024
                </p>
            </div>
        </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds">        
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                    Parent queries resolved
                </h2>
                <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-3">1,145</p>
                <p class="nhsuk-card__description nhsuk-body-s">
                    <span class="trend-increased trend-green nhsuk-body-l nhsuk-u-margin-bottom-1">+5.87% </span>
                    September 2024 to October 2024
                </p>
            </div>
        </div>
    </div>
    <div class="nhsuk-grid-column-one-third">        
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                    Average resolving time
                </h2>
                <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-3">6 minutes<span
                        class="nhsuk-u-visually-hidden">Applicants</span></p>
                <p class="nhsuk-card__description nhsuk-body-s">
                    <span class="trend-decreased trend-green nhsuk-body-l nhsuk-u-margin-bottom-1">-1.65% </span>
                    September 2024 to October 2024
                </p>
            </div>
        </div>
    </div>
    <div class="nhsuk-grid-column-full">        
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                    Time spent on the service
                </h2>
                <p>We have reduced the time a user needs to spend on the service over time.</p>
                <img id="certs-issued" class="nhsuk-image__img" src="/images/baby-loss-cert/bar-graph.png" alt="AWS Compute Daily" style="width:100%;height:100%;">

                <h3 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-top-4">
                    Users currently access the service for approximately
                </h3>
                <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-3">4 minutes<span class="nhsuk-heading-s nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-2"> from start to certificate issued</span></p>
                <p class="nhsuk-card__description nhsuk-body-s">
                    <span class="trend-decreased trend-green nhsuk-body-l nhsuk-u-margin-bottom-1">-0.27% </span>
                    November 2024
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}