<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/mvp/v3/layout-data-hub.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- include mini search box in the header -->
{% set includeMiniSearch = 'no' %}

<!-- Set the page title -->
{% block pageTitle %}
News and events - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
    items: [
    {
        href: "/data-hub/mvp/v3/homepage",
        text: "Home"
    },  
    {
        href: "javascript:history.back()",
        text: "Prescribing and dispensing data"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-6">
        <h1 class="nhsuk-heading-l"><span
            class="nhsuk-caption-m">Prescribing and dispensing data</span>Training material</h1>
        <p>Access a variety of user guides for getting started, organisation type and functional guides.</p>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Filters</h2>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Digital product
                    </h3>
                </legend>
                <div class="nhsuk-hint nhsuk-u-visually-hidden" id="example-hint">
                    Select all options that are relevant to you.
                </div>
                <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="epact2" name="digital-product" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="epact2">
                            ePACT2
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="eden" name="digital-product" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="eden">
                            eDEN
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="eops" name="digital-product" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="eops">
                            eOPS
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="ODP" name="digital-product" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="ODP">
                            Open Data Portal
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Data tool
                    </h3>
                </legend>
                <div class="nhsuk-hint nhsuk-u-visually-hidden" id="example-hint">
                    Select all options that are relevant to you.
                </div>
                <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="power-bi" name="data-tool" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="power-bi">
                            Power BI
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="excel" name="data-tool" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="excel">
                            Excel
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="api" name="data-tool" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="api">
                            API
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="create-analysis" name="data-tool" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="create-analysis">
                            Create Analysis Tool
                        </label>
                    </div>            
                </div>
            </fieldset>
        </div>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Experience level
                    </h3>
                </legend>
                <div class="nhsuk-hint nhsuk-u-visually-hidden" id="example-hint">
                    Select all options that are relevant to you.
                </div>
                <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Introductory
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Beginner
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Intermediate
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Advanced
                        </label>
                    </div>                  
                </div>
            </fieldset>
        </div>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Content type
                    </h3>
                </legend>
                <div class="nhsuk-hint nhsuk-u-visually-hidden" id="example-hint">
                    Select all options that are relevant to you.
                </div>
                <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Video
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Training guide
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            PDF
                        </label>
                    </div>                 
                </div>
            </fieldset>
        </div>
        <a class="nhsuk-button nhsuk-u-margin-top-4" href="#">Filter result</a>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <span class="nhsuk-heading-s nh">62 results</span>
            </div>
            <div class="nhsuk-grid-column-two-thirds custom-sort-by">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-u-margin-right-2" for="select-1">
                        Sort by
                    </label> <select class="nhsuk-select" id="select-1" name="select-1">
                        <option value="1" selected>Updated (newest)</option>
                        <option value="2">option 2</option>
                        <option value="3">option 3</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="nhsuk-u-margin-top-0">

        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - Hospital Trust Reports to get you started (PDF: 929KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - Accessing and using the Hospital Trust Volume and Cost Report (PDF: 476KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - Accessing and using the Invoice Reconciliation Report (PDF: 400KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - Accessing and using the Itemised Prescribing Payment (IPP) Report (PDF: 478KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - Accessing and using the Remuneration Report (PDF: 508KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Introductory recorded webinar for Primary Care Network ePACT2 users (YouTube video)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - PCN Reports to get you started (PDF: 651KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Introductory pre-recorded webinar for GP Practice ePACT2 users (YouTube video)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">5 minute guide to the GP Practice Personally Administered Items Report (PADAM) (YouTube video)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">3 minute guide to the Practice Detailed Prescribing Information Report (YouTube video)</a></h2>
        <hr>

        <!-- pagination -->
        {{ pagination({
            previousUrl: "training-material",
            previousPage: "1 of 5",
            nextUrl: "training-material-2",
            nextPage: "2 of 5"
          }) }}
    </div>
</div>
{% endblock %}