<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layouts/v2/layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the prototype version number here for links to work correctly in the header (layout.html) -->
{% set version = 'v3' %}

<!-- Set the page title -->
{% block pageTitle %}
Product news - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
items: [
{
href: "/data-hub/mvp/v3/homepage",
text: "Home"
}
]
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l">Product news</h1>
        <p>Information on any changes which have been made to our products will be provided here.</p>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Filters</h2>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Type
                    </h3>
                </legend>
                <div class="nhsuk-hint nhsuk-u-visually-hidden" id="example-hint">
                    Select all options that are relevant to you.
                </div>
                <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            ePACT
                        </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox"
                            value="phone">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                            eDEN
                        </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox"
                            value="phone">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                            eOPS
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <hr class="nhsuk-section-break nhsuk-section-break--visible">
        <a class="nhsuk-button nhsuk-u-margin-top-4" href="#">Filter result</a>
    </div>
    <div class="nhsuk-grid-column-three-quarters">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <span class="nhsuk-heading-s nhsuk-u-float-right">6 results</span>
            </div>
        </div>
        <hr class="nhsuk-u-margin-top-0">

        <h2 class="nhsuk-heading-s"><a href="news-post">Coming soon: Volunteering Find and Apply Service - Key Performance
                Indicators datasets</a></h2>
        <p>Performance data for the NHS Volunteering Find and Apply Service will soon be published on the NHSBSA Open
            Data Portal. Available as two separate datasets, these will provide insights into key service metrics for
            both organisations and volunteers.</p>
        <p class="nhsuk-u-margin-bottom-1"><span class="nhsuk-caption-m">Posted: 22 April 2025</span></p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">New ODP datasets now available: BNF codes</a></h2>
        <p>The British National Formulary (BNF) codes dataset is now available on the NHSBSA Open Data Portal (ODP). The
            dataset has migrated from being hosted on the Information Services Portal (ISP) to the ODP as part of a
            drive to improve services and better.</p>
        <p class="nhsuk-u-margin-bottom-1"><span class="nhsuk-caption-m">15 April 2025</span></p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Coming Soon: Transition to the English Prescribing Datasets (EPD) with
                SNOMED CT Codes</a></h2>
        <p>The NHS Business Services Authority (NHSBSA) is preparing to transition to the English Prescribing Dataset
            (EPD) with Systematised Nomenclature of Medicine Clinical Terms (SNOMED CT) codes as the primary dataset.
        </p>
        <p class="nhsuk-u-margin-bottom-1"><span class="nhsuk-caption-m">4 April 2025</span></p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Updated Dataset Now Available: Finalise Secondary Care Medicine Data
                (SCMD) with Indicative Pricing</a></h2>
        <p>We’ve updated how the Secondary Care Medicine Data (SCMD) with Indicative Pricing dataset is structured on
            the NHSBSA Open Data Portal (ODP), making it easier for users to track and analyse medicines stock movement
            across NHS.</p>
        <p class="nhsuk-u-margin-bottom-1"><span class="nhsuk-caption-m">20 March 2025</span></p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Coming soon - BNF codes dataset</a></h2>
        <p>In the coming weeks, the NHS Business Services Authority will migrate the British National Formulary (BNF)
            codes dataset from the Information Services Portal (ISP) to the Open Data Portal (ODP).</p>
        <p class="nhsuk-u-margin-bottom-1"><span class="nhsuk-caption-m">11 March 2025</span></p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">New Dataset Now Available: Dental New Patient Premium data</a></h2>
        <p>The Dental Recovery Plan dataset has now been published on the NHSBSA open data portal. For more information,
            including the context and reasoning behind the publication, please refer to our recent article.</p>
        <p class="nhsuk-u-margin-bottom-1"><span class="nhsuk-caption-m">11 February 2025</span></p>
        <hr>
    </div>
</div>
{% endblock %}