
<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layouts/layout-data-hub.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
A location to host our data products - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
<div class="nhsuk-back-link"> <a class="nhsuk-back-link__link" href="javascript:history.back()">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" height="24" width="24">
            <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
        </svg>
        Go back</a>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l">Design log</span>
            A location to host our data products
        </h1>
        <p class="nhsuk-body-s"><span class="nhsuk-u-font-weight-bold">Data published:</span> 26 June 2025</p>
        <p class="nhsuk-body-s"><span class="nhsuk-u-font-weight-bold">Prototype URL:</span> <a href="https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v3/homepage">https://data-hub-service-5f86de5d8faf.herokuapp.com/data-hub/mvp/v3/homepage</a></p>
        <p class="nhsuk-body-s"><span class="nhsuk-u-font-weight-bold">Version:</span> <strong class="nhsuk-tag nhsuk-tag--blue">
            Minimum Viable Product (MVP)
        </strong></p>
        <p class="nhsuk-body-s"><span class="nhsuk-u-font-weight-bold">Designer:</span> <br>Dean Cobb</p>
        <p class="nhsuk-body-s"><span class="nhsuk-u-font-weight-bold">Email:</span> <br><a href="mailto:dean.cobb@nhsbsa.nhs.uk">dean.cobb@nhsbsa.nhs.uk</a></p>
        
        <hr>

        <h2 class="nhsuk-heading-m">Why we did this work</h2>
        <p>Three of our data products (eDEN, eOPS and ePACT2) are currently hosted on Oracle. As of February 2026 the contract with Oracle is going to be terminated, this means we need to have a new location to host the data products.</p>
        <p>The Data Hub was an assumed solution from consultancy work prior to user centred design involvement and an agreed approach to creating a centralised location for all things data, meaning users could access information, support, training and data products.</p>
        <p>The initial version of the Data Hub is to have a location to host the data products post February 2026 and gradually introduce other areas of data iteratively.</p>

        <h2 class="nhsuk-heading-m">What our ideas were</h2>
        <p>As our main goal is to have an MVP version of the Data Hub which would include accessing the three data products, and for users to be able to continue doing tasks they currently do when accessing the products.</p>
        <p>Unfortunately, due to time restrictions the project did not have a Discovery phase and we were tasked to dive straight into Alpha, this was due to business requrements already being in place.</p>
        <p>As the agreed MVP roadmap was to transition the Oracle version to the Data Hub version we have started with a lift and shift of the products while changing the UI to meet NHS Standards and following the NHS Toolkit, and iteratively introduce design changes to how a dashboard is displayed, how a user accesses the products, how the user accesses training and support or any news on the products, although these have been based on assumptions we are now taking this to usability testing to verify our assumptions with the user.</p>
        <h3 class="nhsuk-heading-s">Prototype</h3>
        <p>The Prototype was split into 3 versions for MVP to iteratively introduce designs. We started with the basics for version 1, a user being able to view a list of products, sign into, request access, access a product, access reports and dashboards and existing training material, this would allow users to continue work using our data products.</p>
        <p>Version 2 introduced access to a news page, landing pages for each data product and navigating from that page to a dashboard or report and slightly improved navigation to training materials and support.</p>
        <p>For version 3 we focused on creating a better homepage which still just listed the data products but also introduced featured links, the future idea of the homepage is to streamline navigating between different areas of data as we introduce them. We also introduced basic filtering to product news, a new journey for users to create a data hub account and sign into an existing one along with a dedicated account space where users could see their own stored data analysis and folders.</p>


        <h2 class="nhsuk-heading-m">How we tested them and what we found</h2>
        <strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-4">
            UR IN PROGRESS
        </strong>
        <p>User research is starting on Monday 30 June 2025, this will be usability testing of the MVP Version 3 prototype. Usability testing will be task based, providing the users with 3 different tasks, those being related to account creation and sign in, navigating categories specifically product news and filtering and also accessing the data products and navigating them.</p>
        <h3 class="nhsuk-heading-s">Findings</h3>
        <p>All findings will be provided here on completion of usability testing.</p>

        <h2 class="nhsuk-heading-m">What we will do next</h2>
        <p>Depending on the outcome of usability testing we will take on the findings we have and any iterations needed will be prioritised and added to the roadmap.</p>

        <h2 class="nhsuk-heading-m">Resources</h2>
        <p><a href="https://miro.com/app/board/uXjVI7qxkz8=/?moveToWidget=3458764626607998914&cot=14" taget="_blank">User Flow (Miro)</a></p>
        <p><a href="https://miro.com/app/board/uXjVKj_Szbw=/?share_link_id=871602031973" taget="_blank">Data Hub Design Board (Miro)</a></p>
        <p><a href="https://miro.com/app/board/uXjVIy9Q-pE=/?share_link_id=30371313848" taget="_blank">MVP Board (Miro)</a></p>        
    </div>
</div>
{% endblock %}