<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v5/layout-data-product-footer.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'dc146' %}
{% set pageTitle = 'Explore prescribing and dispensing data' %}
{% set modelOrDatasetDetails = 'Dataset details' %}

<!-- Set the page title -->
{% block pageTitle %}
{{ pageTitle }} - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.njk" %}
{{ breadcrumb({
    items: [
        {
            href: "/data-hub/mvp/dc146/homepage",
            text: "Home"
        },
        {
            href: "/data-hub/mvp/dc146/data-products/epact/epact-loggedin",
            text: "ePACT2"
        },
        {
            href: "/data-hub/mvp/dc146/data-products/epact/data-exploration-tools",
            text: "Data exploration tools"
        }
    ]
}) }}
{% endblock %}


{% block content%}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p>Our prescribing and dispensing data is available in several datasets. Each dataset is designed for different reporting and analysis needs.</p>
        <p>You need to sign in to explore the data.</p>
        <p>If you need help choosing a dataset or need training on our data exploration tools, email: <a href="mailto:DataServicesSupport@nhsbsa.nhs.uk"> DataServicesSupport@nhsbsa.nhs.uk</a>.</p>
    
        {% set warningText %}
            <p>More information can be found on <a class="nhsuk-link" href="#">pricing</a>.</p>
            <p>If you do not want to buy a licence, you can still run a paginated report and import the data into a program of your choice from that.</p>
        {% endset %}

         {{ warningCallout({
            classes: 'smaller-heading',
            heading: 'Explore this data access requires a valid pro licence',
            html: warningText
        }) }}
    
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <!-- 

        12 month model
        24 month model
        Full history year model

        BNF drug cost
        Dispensing submissions
        PCA monthly and yearly - INTERNAL ONLY, SO NOT DISPLAYING FOR NOW
        Prescribed item - Level 4
        Prescribed item - Level 5

        -->

        {% set action_links = { items: [
                          { 
                              href: 'fabric',
                              attributes: { target: '_blank' },
                              classes: 'nhsuk-button nhsuk-button--small nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-2',
                              text: 'Explore this data'
                          },
                          {
                            href: '#',
                            text: 'Run a paginated report'
                          }
                      ] } %}


        {% set header_01 %}
            12-month dataset
            <dl class="nhsuk-u-font-size-14 nhsuk-flex-group">
                <dt class="nhsuk-u-font-weight-normal">Time frame:</dt>
                <dd class="nhsuk-u-margin-left-1 nhsuk-u-font-weight-normal">12 months</dd>
            </dl>
        {% endset %}
        {% set content_01 %}

            <!-- 12 MONTH MODEL -->
            <p>Use this dataset to analyse prescribing and dispensing activity over the latest 12 months. It is suitable for routine reporting and monitoring recent trends. Queries may run faster because the dataset covers a shorter period.</p>
            <p>You can analyse data using:</p>
                <ul>
                <li>prescribing organisation attributes</li>
                <li>dispensing organisation attributes</li>
                <li>detailed prescribed drug or appliance attributes</li>
                <li>detailed dispensed drug or appliance attributes</li>
                <li>patient attributes</li>
                <li>prescription form attributes</li>
                </ul>

        {% endset %}

        {% set header_02 %}
            24-month dataset
            <dl class="nhsuk-u-font-size-14 nhsuk-flex-group">
                <dt class="nhsuk-u-font-weight-normal">Time frame:</dt>
                <dd class="nhsuk-u-margin-left-1 nhsuk-u-font-weight-normal">24 months</dd>
            </dl>
        {% endset %}
        {% set content_02 %}

            <!-- 24 MONTH MODEL -->
            <p>Use this dataset to compare prescribing and dispensing activity over the latest 24 months. Choose this dataset when you need year-on-year comparisons or trends that require more than 12 months of data.</p>

        {% endset %}

        {% set header_03 %}
            Full history dataset
            <dl class="nhsuk-u-font-size-14 nhsuk-flex-group">
                <dt class="nhsuk-u-font-weight-normal">Time frame:</dt>
                <dd class="nhsuk-u-margin-left-1 nhsuk-u-font-weight-normal">10 years</dd>
            </dl>
        {% endset %}
        {% set content_03 %}

             <!-- FULL HISTORY DATASET -->
             <p class="nhsuk-u-reading-width"> Use this dataset to analyse all available prescribing and dispensing activity. It includes data held under the data retention policy and supports long-term trend, strategic and market analysis.</p>

        {% endset %}



        {% set header_04 %}
            Full history dataset (BNF level)
            <dl class="nhsuk-u-font-size-14 nhsuk-flex-group">
                <dt class="nhsuk-u-font-weight-normal">Time frame:</dt>
                <dd class="nhsuk-u-margin-left-1 nhsuk-u-font-weight-normal">10 years</dd>
            </dl>
        {% endset %}
            {% set content_04 %}

                <!-- BNF DRUG COST -->
                <p>Use this dataset to analyse prescribing costs at British National Formulary (BNF) presentation level instead of individual pack level. It contains less detail than the full history dataset. It may run faster when analysing large amounts of cost data and broad prescribing trends.</p>
                <p>This dataset does not include available supplier information for:</p>
                <ul>
                    <li>prescribed drugs or appliances at BNF presentation level</li>
                    <li>dispensed drugs or appliances at BNF presentation level</li>
                </ul>

            {% endset %}

        {% set header_05 %}
            Monthly dispensing activities
            <dl class="nhsuk-u-font-size-14 nhsuk-flex-group">
                <dt class="nhsuk-u-font-weight-normal">Time frame:</dt>
                <dd class="nhsuk-u-margin-left-1 nhsuk-u-font-weight-normal">10 years</dd>
            </dl>
        {% endset %}
            {% set content_05 %}

                <!-- DISPENSING SUBMISSIONS -->
                <p>Use this dataset to analyse monthly submissions from dispensing contractors, including pharmacy activity, reimbursement and remuneration.</p>
                    <p>The dataset includes data about:</p>
                    <ul>
                        <li>dispensing organisations</li>
                        <li>dispensing fees</li>
                        <li>submission volumes</li>
                    </ul>

            {% endset %}

        {% set header_06 %}
            PCA monthly and yearly
            <dl class="nhsuk-u-font-size-14 nhsuk-flex-group">
                <dt class="nhsuk-u-font-weight-normal">Time frame:</dt>
                <dd class="nhsuk-u-margin-left-1 nhsuk-u-font-weight-normal">10 years</dd>
            </dl>
        {% endset %}
            {% set content_06 %}

                <!-- DISPENSING SUBMISSIONS -->
                <p>Use this dataset to analyse published prescribing and cost information from Prescription Cost Analysis (PCA). The data is aggregated and used in official national prescribing statistics.</p>
            

            {% endset %}
          


            {% set header_07 %}
            12-month rolling dataset (provider level)
            <dl class="nhsuk-u-font-size-14 nhsuk-flex-group">
                <dt class="nhsuk-u-font-weight-normal">Time frame:</dt>
                <dd class="nhsuk-u-margin-left-1 nhsuk-u-font-weight-normal">10 years</dd>
            </dl>
        {% endset %}
            {% set content_07 %}

                <!-- PRESCRIBED ITEM - LEVEL 4 -->
                <p> Use this dataset to analyse prescribing and dispensing activity using rolling 12-month totals. Data is grouped by commissioner or provider area. It can help you identify longer-term trends while reducing the effect of seasonal changes.</p>
                <p>Analyse costs and volumes by:</p>
                    <ul>
                    <li>commissioner or provider area</li>
                    <li>prescribing organisation attributes</li>
                    <li>dispensing organisation attributes</li>
                    <li>detailed prescribed drug or appliance attributes</li>
                    <li>detailed dispensed drug or appliance attributes</li>
                    <li>patient attributes</li>
                    <li>prescription form attributes</li>
                    </ul>

            {% endset %}

             {% set header_08 %}
            12-month rolling dataset (practice level)
            <dl class="nhsuk-u-font-size-14 nhsuk-flex-group">
                <dt class="nhsuk-u-font-weight-normal">Time frame:</dt>
                <dd class="nhsuk-u-margin-left-1 nhsuk-u-font-weight-normal">10 years</dd>
            </dl>
        {% endset %}
            {% set content_08 %}

                <!-- PRESCRIBED ITEM - LEVEL 5 -->
                <p>Use this dataset to analyse prescribing and dispensing activity using rolling 12-month totals. Data is grouped by individual practice and local provider. It can help you monitor trends, compare patterns and reduce the effect of seasonal changes.</p>
                <p>Analyse costs and volumes by:</p>
                    <ul>
                    <li>practice-level prescribing organisation attributes</li>
                    <li>dispensing organisation attributes</li>
                    <li>detailed prescribed drug or appliance attributes</li>
                    <li>detailed dispensed drug or appliance attributes</li>
                    <li>patient attributes</li>
                    <li>prescription form attributes</li>
                    </ul>

            {% endset %}


            {{ summaryList({
                classes: 'dataset-list',
                rows: [
                    {
                        key: { html: header_01 },
                        value: { html: content_01 },
                        classes: '',
                        actions: action_links
                    },
                    {
                        key: { html: header_02 },
                        value: { html: content_02 },
                        classes: '',
                        actions: action_links
                    },
                    {
                        key: { html: header_03 },
                        value: { html: content_03 },
                        classes: '',
                        actions: action_links
                    },
                    {
                        key: { html: header_04 },
                        value: { html: content_04 },
                        classes: '',
                        actions: action_links
                    },
                    {
                        key: { html: header_05 },
                        value: { html: content_05 },
                        classes: '',
                        actions: action_links
                    },
                    {
                        key: { html: header_07 },
                        value: { html: content_07 },
                        classes: '',
                        actions: action_links
                    },
                    {
                        key: { html: header_08 },
                        value: { html: content_08 },
                        classes: '',
                        actions: action_links
                    }
                ]
            }) }}



    </div>
</div>


{% endblock %}