<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v5/layout-data-product-footer.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'dc146' %}

<!-- Set the page title -->
{% block pageTitle %}
Premium priced generics - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.njk" %}
{{ breadcrumb({
items: [
{
href: "/data-hub/mvp/dc146/homepage",
text: "Home"
},
{
href: "/data-hub/mvp/dc146/data-products/epact/epact-loggedin",
text: "ePACT2"
},
{
href: "dashboards",
text: "Dashboards and reports"
}
]
}) }}
{% endblock %}


{% block content%}
<div class="nhsuk-grid-row">

    
    
    <!--<div class="nhsuk-grid-column-one-half">
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-3">
            <span class="nhsuk-u-font-weight-bold">Data last
                refreshed:</span> 6 May 2025 at 8:31am
        </p>
        <span class="nhsuk-tag nhsuk-tag--white nhsuk-u-margin-bottom-5">
            Version 1.3
        </span>
    </div>-->




    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-u-reading-width">
            <h1 class="nhsuk-heading-l">Premium priced generics</h1>
        </div>

        <div class="sign-in-request-access nhsuk-u-margin-top-5">        
            <a href="premium-priced-generics-full-screen" target="_blank" class="nhsuk-button nhsuk-u-margin-bottom-0">View dashboard (opens in a new tab)</a>            
        </div>

        <hr />

        <div class="nhsuk-u-reading-width">
            <h2 class="nhsuk-heading-m">About this dashboard</h2>
            <p>There's an increasing volume of computerised prescriptions each month where the prescriber has prescribed a generic Drug Tariff Part VIIIA product but also with the name of the branded product or the supplier/ manufacturer added in brackets.</p>
            <p>In these situations, the drug costs charged to the prescriber's budget and reimbursed to the community pharmacy or dispensing practice will be that of the list price of the branded medicine or the specified supplier.</p>
            <p>In many cases this cost will be significantly higher than the Drug Tariff Part VIIIA listed price.</p>
            <p>To help SICBLs monitor this scenario more closely and explore opportunities for review, we've developed this dashboard to highlight the details of practices and drugs where this is most common.</p>
        </div>


        <hr />

        <div class="nhsuk-u-reading-width">
            <h2 class="nhsuk-heading-m">Contact and feedback</h2>
            <p>If you have any queries regarding the data provided contact <a href="mailto:dataservicessupport@nhsbsa.nhs.uk">data services support</a>. If you plan to publish the data include the name of the dataset for reference (this ensures that the figures are not misunderstood or misrepresented).</p>
        </div>

        <hr class="nhsuk-section-break nhsuk-section-break--m" />

        <p class="nhsuk-body-s nhsuk-font-colour-secondary">Page last updated: 6 August 2026</p>

        </div>


    </div>
</div>

{% endblock %}