<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/mvp/dc146/layout-dashboard-full-width.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- include mini search box in the header -->
{% set includeMiniSearch = 'no' %}

<!-- Set the page title -->
{% block pageTitle %}
Datasets - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <iframe title="Premium Priced Generics" class="full-height-iframe" src="https://app.powerbi.com/reportEmbed?reportId=4c5f16f8-5382-4901-a150-89cf264ff573&autoAuth=true&ctid=cf6d0482-86b1-4f88-8c0c-3b4de4cb402c" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
{% endblock %}