<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v5/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'v5' %}

<!-- Set the page title -->
{% block pageTitle %}
Electronic Ophthalmic (eOPS) - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
items: [
{
href: "/data-hub/mvp/v5/homepage",
text: "Home"
}
]
}) }}
{% endblock %}

<!-- heroContent, large blue section at the top of homepage or any data area landing page -->
{% block heroContent %}
<div class="nhsuk-width-container-fluid {{ containerClasses }} nhsuk-u-margin-left-0 nhsuk-u-margin-right-0">
    <section class="nhsuk-hero">
        <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-hero__wrapper app-hero__wrapper">
                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-two-thirds">
                                <h1 class="nhsuk-u-margin-bottom-4">Electronic Ophthalmic (eOPS)</h1>
                                <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">This service allows access to a variety of dashboards, which have been built for NHS England and improvement commissioners based on both user and clinical feedback.</p>
                            </div>
                            <div class="nhsuk-grid-column-one-third">
                                <div class="latest-data">
                                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-3">Latest data</h2>
                                    <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">Ophthalmic data: <span
                                            class="nhsuk-u-font-weight-bold">January 2025</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-6">
        <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-3"><a href="dashboards/eops-v3-performer-data">Electronic General Ophthalmic Services (eGOS)</a></h2>
        <p class="nhsuk-u-margin-bottom-0">Claim level dataset, which includes performer level data.</p>
        <hr class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-3"><a href="#">Open Exeter paper</a></h2>
        <p class="nhsuk-u-margin-bottom-0">Submissions data.</p>
        <hr class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-3"><a href="#">Open Exeter and eGOS data</a></h2>
        <p class="nhsuk-u-margin-bottom-0">Includes a combination of eGOS data from Primary Care Support England (PCSE), and Open Exeter data.</p>
        <hr class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-3"><a href="#">NHSE GOS eligibility dashboard</a></h2>
        <p class="nhsuk-u-margin-bottom-0">Filter and view eligibility reasons by GOS claim type.</p>
    </div>
    <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-6">
        <h2 class="nhsuk-heading-m">Useful links</h2>
        <ul class="nhsuk-list">
            <li><a href="#">Data release calendar</a></li>
            <li><a href="#">Department of Health and Social Care</a></li>
            <li><a href="#">eOPS website</a></li>
            <li><a href="#">General Ophthalmic Services (GOS) activity data</a></li>
            <li><a href="#">General Ophthalmic Services (GOS) activity statistics</a></li>
            <li><a href="#">How to request ophthalmic data</a></li>            
            <li><a href="#">NHS England optometry_commissioning</a></li>
            <li><a href="../../product-news?productFlow=yes">News</a></li>
        </ul>
        <h2 class="nhsuk-heading-m">Guidance</h2>
        <ul class="nhsuk-list">
            <li><a href="training-material">Training catalogue</a></li>
            <li><a href="#">Book an eOPS training webinar</a></li>
            <li><a href="../../training-hub/landing-page">Training hub</a></li>
            <li><a href="https://www.nhsbsa.nhs.uk/help-and-support">Contact us</a></li>                        
            <li><a href="#">eOPS dashboard information</a></li>
        </ul>
    </div>
</div>
{% endblock %}