<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v5/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'dc146' %}
{% set pageHeader = 'Release notes 2028' %}

<!-- Set the page title -->
{% block pageTitle %}
{{ pageHeader }} - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.njk" %}
{{ breadcrumb({
    items: [
        {
            href: "/data-hub/mvp/dc146/homepage",
            text: "Home"
        }
    ]
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-third sidebar">
        {{ contentsList({
            items: [
                { href: '#', text: '2028', current: true },
                { href: '#', text: '2027' },
                { href: '#', text: '2026' }
            ]
        }) }}
    </div>

    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-u-reading-width">
            <span class="nhsuk-caption-xl">Release notes</span>
            <h1 class="nhsuk-heading-xl">2028</h1>
        </div>

        <!-- MARCH 2028 -->
        {% call details({ summary: { html: '<strong>Version 13.0.0</strong> - March 2028' }, classes: 'nhsuk-expander', attributes: { open: true } }) %}
            <div class="nhsuk-u-reading-width">

                <h2 class="nhsuk-heading-s">New features</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
                </ul>

                <h2 class="nhsuk-heading-s">Bug fixes</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Et dolore magna aliqua Lorem ipsum dolor sit amet</li>
                    <li>Sed do eiusmod tempor incididunt ut labore</li>
                    <li>Ut enim ad minim veniam, consectetur adipiscing elit</li>
                </ul>

                <h2 class="nhsuk-heading-s">Service improvements</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Et dolore magna aliqua Lorem ipsum dolor sit amet</li>
                    <li>Sed do eiusmod tempor incididunt ut labore</li>
                    <li>Ut enim ad minim veniam, consectetur adipiscing elit</li>
                </ul>

                <h2 class="nhsuk-heading-s">Maintenance</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Et dolore magna aliqua Lorem ipsum dolor sit amet</li>
                    <li>Sed do eiusmod tempor incididunt ut labore</li>
                    <li>Ut enim ad minim veniam, consectetur adipiscing elit</li>
                </ul>

            </div>
        {% endcall %}


        <!-- AUGUST 2026 -->
        {% call details({ summary: { html: '<strong>Version 12.5.3</strong> - February 2028' }, classes: 'nhsuk-expander' }) %}
            <div class="nhsuk-u-reading-width">

                <h2 class="nhsuk-heading-s">New features</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
                </ul>

                <h2 class="nhsuk-heading-s">Bug fixes</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Et dolore magna aliqua Lorem ipsum dolor sit amet</li>
                    <li>Sed do eiusmod tempor incididunt ut labore</li>
                    <li>Ut enim ad minim veniam, consectetur adipiscing elit</li>
                </ul>

            </div>
        {% endcall %}

        <!-- JANUARY -->
        {% call details({ summary: { html: '<strong>Version 12.5.2</strong> - January 2028' }, classes: 'nhsuk-expander' }) %}
            <div class="nhsuk-u-reading-width">

                <h2 class="nhsuk-heading-s">Bug fixes</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
                    <li>Ut enim ad minim veniam</li>
                </ul>

                <h2 class="nhsuk-heading-s">You said, we did</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Et dolore magna aliqua Lorem ipsum dolor sit amet</li>
                    <li>Sed do eiusmod tempor incididunt ut labore</li>
                    <li>Ut enim ad minim veniam, consectetur adipiscing elit</li>
                </ul>

            </div>
        {% endcall %}





    </div>

</div>



{% endblock %}