<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v5/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'dc146' %}
{% set pageHeader = 'Release notes' %}

<!-- Set the page title -->
{% block pageTitle %}
    {{ pageHeader }} - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.njk" %}
{{ breadcrumb({
    items: [
        {
            href: "/data-hub/mvp/dc146/homepage",
            text: "Home"
        }
    ]
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


        <div class="nhsuk-u-reading-width">
            <h1 class="nhsuk-heading-l">{{ pageHeader }}</h1>
        </div>

        <!-- SEPTEMBER 2026 -->
        {% call details({ summary: { html: '<strong>Version 2.0</strong> - September 2026' }, classes: 'nhsuk-expander', attributes: { open: true } }) %}
            <div class="nhsuk-u-reading-width">

                <h2 class="nhsuk-heading-s">Bug fixes</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Corrected unclear or incorrect wording across some page</li>
                    <li>Fixed breadcrumb, navigation and link issues</li>
                    <li>Fixed some role and access issues affecting users, including roles accessing data exploration pages</li>
                    <li>Corrected latest data information where it was not displaying correctly</li>
                </ul>

                <h2 class="nhsuk-heading-s">Service improvements</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Simplified labels and messages to make information clearer</li>
                    <li>Updated dashboard description content to improve consistency across pages and user journeys</li>
                    <li>Updated the phase banner from Alpha to Beta</li>
                    <li>Updated News links to direct to the new NHSBSA news pages</li>
                </ul>

                <h2 class="nhsuk-heading-s">Maintenance</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Completed behind-the-scenes updates to improve platform stability and reliability</li>
                    <li>Made further improvements to support future Data Hub updates</li>
                    <li>Updated user roles and access profiles to ensure correct content access</li>
                </ul>

            </div>
        {% endcall %}


        <!-- AUGUST 2026 -->
        {% call details({ summary: { html: '<strong>Version 1.2.0</strong> - August 2026' }, classes: 'nhsuk-expander' }) %}
            <div class="nhsuk-u-reading-width">

                <h2 class="nhsuk-heading-s">New features</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                </ul>

                <h2 class="nhsuk-heading-s">Bug fixes</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
                    <li>Ut enim ad minim veniam</li>
                </ul>

                <h2 class="nhsuk-heading-s">Service improvements</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
                    <li>Ut enim ad minim veniam</li>
                </ul>

                <h2 class="nhsuk-heading-s">Maintence</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Et dolore magna aliqua Lorem ipsum dolor sit amet</li>
                    <li>Sed do eiusmod tempor incididunt ut labore</li>
                    <li>Ut enim ad minim veniam, consectetur adipiscing elit</li>
                </ul>

            </div>
        {% endcall %}

        <!-- JULY 2026 -->
        {% call details({ summary: { html: '<strong>Version 1.1.6</strong> - July 2026' }, classes: 'nhsuk-expander' }) %}
            <div class="nhsuk-u-reading-width">

                <h2 class="nhsuk-heading-s">Bug fixes</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
                    <li>Ut enim ad minim veniam</li>
                </ul>

            </div>
        {% endcall %}







    </div>
</div>
{% endblock %}