.hods-alert {
    border-color: #2b8cc4;
    background-color: #dbeff9;
}
.hods-alert__heading {
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    margin-bottom: 15px;
}