
.nhsuk-password-input__wrapper {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    .nhsuk-password-button {
        width: auto;
        flex-shrink: 0;
        flex-basis: 5em;
        margin-top: 0;
        margin-left: 5px;
        margin-bottom: 0;
        border: 2px solid;
        border-radius: 0px;
        padding: 4px 16px;

        &:before,
        &:after {
            display: none;
        }

        &:active {
            border: 2px solid;
            border-radius: 0px;
            padding: 4px 16px;
            top: 0;
        }
    }

}