<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/v1/layout-data-hub.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- include mini search box in the header -->
{% set includeMiniSearch = 'yes' %}

<!-- Set the page title -->
{% block pageTitle %}
Data products - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/data-hub/v1/homepage",
      text: "Home"
    },
    {
        href: "/data-hub/v1/explore-our-data/explore-our-data",
        text: "Explore our data"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l nhsuk-u-margin-top-4"><span class="nhsuk-caption-m">Explore our data</span>Data products</h1>
        <p>Our data products bring together curated datasets and insights developed by the NHS Business Services Authority. These resources support transparency, research, and informed decision-making across areas like prescriptions, dental services, and ophthalmic care. Each product includes structured, quality-assured data, often available for download or integration.</p>
    </div>
    <div class="nhsuk-grid-column-full">
        <hr>
        <h2 class="nhsuk-heading-m"><a href="epact/epact">Prescribing and Dispensing Data (ePACT2)</a></h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A dolorem sit consequatur eius repudiandae nihil sapiente, magni fugit obcaecati officiis!</p>
        <p><a href="#">Latest release</a>  <a class="nhsuk-u-margin-left-5" href="#">Create analysis</a>  <a class="nhsuk-u-margin-left-5" href="#">Request access</a> <a class="nhsuk-u-margin-left-5" href="#">News and events</a></p>
        <hr>
        <h2 class="nhsuk-heading-m"><a href="eden/eden">Dental Data (eDEN)</a></h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A dolorem sit consequatur eius repudiandae nihil sapiente, magni fugit obcaecati officiis!</p>
        <p><a href="#">Latest release</a>  <a class="nhsuk-u-margin-left-5" href="#">Create analysis</a>  <a class="nhsuk-u-margin-left-5" href="#">Request access</a> <a class="nhsuk-u-margin-left-5" href="#">News and events</a></p>
        <hr>
        <h2 class="nhsuk-heading-m"><a href="eops/eops">Ophthalmic Data (eOPS)</a></h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A dolorem sit consequatur eius repudiandae nihil sapiente, magni fugit obcaecati officiis!</p>
        <p><a href="#">Latest release</a>  <a class="nhsuk-u-margin-left-5" href="#">Create analysis</a>  <a class="nhsuk-u-margin-left-5" href="#">Request access</a> <a class="nhsuk-u-margin-left-5" href="#">News and events</a></p>
    </div>
</div>
{% endblock %}