<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v1/layout.html -->
{% extends 'layouts/v1/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'v2' %}

<!-- Set the page title -->
{% block pageTitle %}
Data products - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row nhsuk-u-padding-top-7">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l">
            {% if userType == 'epact' %}
                Sign into Prescribing and Dispensing Data (ePACT2)
            {% elif userType == 'eden'%}
                Sign into Dental Data (eDEN)
            {% elif userType == 'eops' %}
                Sign into Ophthalmic Data (eOPS)
            {% else %}
                Sign in
            {% endif %}
        </h1>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-20">
                Username
            </label> <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-20">
                Password
            </label> <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
        </div>
        {% if userType == 'epact' %}
            <a class="nhsuk-button" href="data-products/epact/epact-loggedin">Sign in</a>
        {% elif userType == 'eden'%}
            <a class="nhsuk-button" href="data-products/eden/eden-loggedin">Sign in</a>
        {% elif userType == 'eops' %}
            <a class="nhsuk-button" href="data-products/eops/eops-loggedin">Sign in</a>
        {% else %}
            <a class="nhsuk-button" href="#">Sign in</a>
        {% endif %}
    </div>
</div>
{% endblock %}