<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/assumptions/v1-1/layout-data-hub.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- include mini search to header (generally not included on data area landing page or homepage)-->
{% set includeMiniSearch = 'no' %}
<!-- Hero Filter Buttons -->
{% set showFilter = "yes" %}

<!-- Set the page title -->
{% block pageTitle %}
Provider assurance - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
    items: [
      {
        href: "/data-hub/assumptions/v1-1/homepage",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

<!-- heroContent, large blue section at the top of homepage or any data area landing page -->
{% block heroContent %}
<div class="nhsuk-width-container-fluid {{ containerClasses }} nhsuk-u-margin-left-0 nhsuk-u-margin-right-0">
    <section class="nhsuk-hero">
        <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <div class="nhsuk-hero__wrapper app-hero__wrapper">
                        <h1 class="nhsuk-u-margin-bottom-4"><span class="nhsuk-caption-l custom-hero-caption">Data Hub</span>Provider Assurance</h1>
                        <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">Ensuring healthcare providers deliver services in line with NHS standards and use public funds appropriately</p>
                        <form action="../../search-results" method="POST" class="nhsuk-header__search-form nhsuk-u-margin-top-4">
                            <label class="nhsuk-label" for="search-field">Search the Data Hub</label>
                            <input class="nhsuk-search__input" id="search-field" name="search-field"
                                type="search" autocomplete="off">
                            <button class="nhsuk-search__submit" type="submit">
                                <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                    <path
                                        d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z">
                                    </path>
                                </svg>
                                <span class="nhsuk-u-visually-hidden">Search</span>
                            </button>
                        </form>
                        <!-- Show filter at top of HTML -->
                        {% if 'yes' in showFilter %}
                            <button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
                                Dental
                            </button>
                            <button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
                                data-module="nhsuk-button" type="submit">
                                Dispensing
                            </button>
                            <button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
                                data-module="nhsuk-button" type="submit">
                                Prescription
                            </button>
                            <button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
                                data-module="nhsuk-button" type="submit">
                                Reports
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

<!-- Main content -->
{% block content %}
<div class="nhsuk-grid-row">
    
    <!-- Homepage Title is within docs/views/template-data-hub.html -->
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-4">
        <p>Provider Assurance is a programme within the NHS Business Services Authority that helps ensure healthcare providers—such as dentists, pharmacists, and optometrists—are delivering services in line with NHS rules and standards.</p>
        <p>It supports NHS England by providing oversight, identifying risks or irregularities, and helping ensure public funds are used appropriately. Through data analysis, reviews, and collaboration with providers, the team works to maintain the quality, fairness, and integrity of NHS services</p>
        <hr>
        <h2 class="nhsuk-heading-l">Area's covered by Provider Assurance</h2>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <div class="nhsuk-action-link">
                    <a class="nhsuk-action-link__link" href="#">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                            </path>
                        </svg>
                        <span class="nhsuk-action-link__text">Pharmaceutical</span>
                    </a>
                </div>
                <div class="nhsuk-action-link">
                    <a class="nhsuk-action-link__link" href="#">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                            </path>
                        </svg>
                        <span class="nhsuk-action-link__text">Ophthalmic</span>
                    </a>
                </div>
                <div class="nhsuk-action-link">
                    <a class="nhsuk-action-link__link" href="#">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                            </path>
                        </svg>
                        <span class="nhsuk-action-link__text">Vaccines and Immunisations</span>
                    </a>
                </div>
            </div>
            <div class="nhsuk-grid-column-one-half">
                <div class="nhsuk-action-link">
                    <a class="nhsuk-action-link__link" href="#">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                            </path>
                        </svg>
                        <span class="nhsuk-action-link__text">Dental</span>
                    </a>
                </div>
                <div class="nhsuk-action-link">
                    <a class="nhsuk-action-link__link" href="#">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                            </path>
                        </svg>
                        <span class="nhsuk-action-link__text">General Practice (GPs)</span>
                    </a>
                </div>
            </div>
        </div>
        <hr class="nhsuk-u-margin-top-0">
        <h2 class="nhsuk-heading-l">Sign in or create account</h2>
        <p>Create a Data Hub account to be able to request access to Provider Assurance data and tools.</p>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                What access will I have with an account?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, optio.</p>
            </div>
          </details>
        <a class="nhsuk-button" href="provider-assurance-logged-in">Sign into the Data Hub</a>
        <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-4" href="#">Create a Data Hub account</a>
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-7">
        <h2 class="nhsuk-heading-s">Resources based on role</h2>
        <p><a href="#">Analyst</a></p>
        <p><a href="#">Case Worker</a></p>
        <p><a href="#">Payment team</a></p>
        <p><a href="#">Service Delivery Manager</a></p>
        <p><a href="#">Service Portfolio Manager</a></p>
        <h2 class="nhsuk-heading-s">Useful links</h2>
        <p><a href="#">Data dictionary</a></p>
        <p><a href="#">Guidance</a></p>
        <p><a href="#">Policies</a></p>
        <p><a href="#">Requesting data</a></p>
        <p><a href="#">Supporting documents</a></p>
        <p><a href="#">System access</a></p>
    </div>
</div>
{% endblock %}