<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v2/layout.html -->
{% extends 'layouts/v2/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'v4' %}

<!-- Set the page title -->
{% block pageTitle %}
Training material - {{ serviceName }} - NHSBSA
{% endblock %}


{% block beforeContent %}
    {% if data['productSignedInAs'] == 'eops' %}
        {{ breadcrumb({
            items: [
            {
                href: "/data-hub/mvp/v4/homepage",
                text: "Home"
            },
            {
                href: "/data-hub/mvp/v4/data-products/eden/eden-loggedin",
                text: "Dental data"
            }
            ]
        }) }}
    {% else %}
        {{ breadcrumb({
            items: [
            {
                href: "/data-hub/mvp/v4/homepage",
                text: "Home"
            },
            {
                href: "/data-hub/mvp/v4/data-products/eden/eden",
                text: "Dental data"
            }
            ]
        }) }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-6">
        <h1 class="nhsuk-heading-l">Training material</h1>
        <p>Access a variety of user guides for getting started, organisation type and functional guides.</p>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Filters</h2>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading">
                        Type of guides
                    </h3>
                </legend>
                <div class="nhsuk-hint nhsuk-u-visually-hidden" id="example-hint">
                    Select all options that are relevant to you.
                </div>
                <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Beginner guides
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Video guides
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Courses
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <a class="nhsuk-button nhsuk-u-margin-top-4" href="#">Filter result</a>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <span class="nhsuk-heading-s nh">62 results</span>
            </div>
            <div class="nhsuk-grid-column-two-thirds custom-sort-by">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-u-margin-right-2" for="select-1">
                        Sort by
                    </label> <select class="nhsuk-select" id="select-1" name="select-1">
                        <option value="1" selected>Updated (newest)</option>
                        <option value="2">option 2</option>
                        <option value="3">option 3</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="nhsuk-u-margin-top-0">

        <h2 class="nhsuk-heading-s"><a href="#">eDEN - Hospital Trust Reports to get you started (PDF: 929KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">eDEN - Accessing and using the Hospital Trust Volume and Cost Report (PDF: 476KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">eDEN - Accessing and using the Invoice Reconciliation Report (PDF: 400KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">eDEN - Accessing and using the Itemised Prescribing Payment (IPP) Report (PDF: 478KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">eDEN - Accessing and using the Remuneration Report (PDF: 508KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Introductory recorded webinar for Primary Care Network eDEN users (YouTube video)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">eDEN - PCN Reports to get you started (PDF: 651KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Introductory pre-recorded webinar for GP Practice eDEN users (YouTube video)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">5 minute guide to the GP Practice Personally Administered Items Report (PADAM) (YouTube video)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">3 minute guide to the Practice Detailed Prescribing Information Report (YouTube video)</a></h2>
        <hr>

        <!-- pagination -->
        {{ pagination({
            previousUrl: "#",
            previousPage: "1 of 5",
            nextUrl: "#",
            nextPage: "2 of 5"
          }) }}
    </div>
</div>
{% endblock %}