<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v2/layout.html -->
{% extends 'layouts/v2/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'v4' %}

<!-- Set the page title -->
{% block pageTitle %}
Enter your full name - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ backLink({
    href: "javascript:history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row nhsuk-u-padding-top-7">

    <div class="nhsuk-grid-column-two-thirds">
    
        <form action="full-name" method="post">
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="full-name"><h1 class="nhsuk-heading-l">Enter your full name</h1>
                </label> 
                <input class="nhsuk-input nhsuk-input--width-20" id="full-name" name="full-name" type="text">                
            </div>
            <button class="nhsuk-button" type="submit">Continue</button>
        </form>

    </div>
</div>
{% endblock %}