<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/mvp/v5/layout-entra-id.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Sign in or create an account- {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<div class="outer">
    <div class="sign-in-box">
        <img src="/images/data-hub/bsa-logo.png" alt="">       
        <h1 class="nhsuk-heading-m">Create a password</h1>
        <p>Use 8 characters or more, have at least one UPPERCASE, number and do not start or end with a blank space.</p>
        <input type="password" placeholder="Password">   
        <input type="password" placeholder="Confirm password">        
        <div class="buttons nhsuk-u-margin-top-3">
            <a class="back" href="javascript:history.back()">Back</a> <a class="next" href="enter-code">Next</a>
        </div>      
        <div class="boilerplate-text">
            <p class="nhsuk-u-margin-bottom-0 nhsuk-body-s">Welcome to the NHS Business Services Authority</p>
        </div>          
    </div>
</div>

{% endblock %}