<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/mvp/v5/layout-entra-id.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Sign in or create an account- {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<div class="outer">
    <div class="sign-in-box">
        <img src="/images/data-hub/bsa-logo.png" alt="">
        <form action="entra-id-sign-in" method="post">
            <h1 class="nhsuk-heading-m">Sign in</h1>    
            <input type="email" placeholder="username@nhsbsa.nhs.uk" name="username">
            <p class="nhsuk-body-s">No account? <a href="entra-create-account">Create one</a></p>
            <div class="buttons">
                <a class="back" href="javascript:history.back()">Back</a> <button class="next" href="enter-password" type="submit">Next</button>
            </div>
        </form>   
        <div class="boilerplate-text">
            <p class="nhsuk-u-margin-bottom-0 nhsuk-body-s">Welcome to the NHS Business Services Authority</p>
        </div>          
    </div>
</div>

{% endblock %}