<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v5/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'v5' %}

<!-- Set the page title -->
{% block pageTitle %}
Change log - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
items: [
{
href: "/data-hub/mvp/v5/homepage",
text: "Home"
},
{
href: "/data-hub/mvp/v5/prescribing-dispensing",
text: "Prescribing and dispensing"
},
{
href: "/data-hub/mvp/v5/data-products/epact/epact-loggedin",
text: "Electronic prescribing analysis and cost tool (ePACT)"
},
{
href: "dashboards",
text: "Dashboards"
},
{
href: "../premium-priced-generics",
text: "Premium Priced Generics"
}
]
}) }}
{% endblock %}


{% block content%}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l">Premium Priced Generics</span>Change log</h1>
    </div>
    <div class="nhsuk-grid-column-one-third">
        <a class="nhsuk-button custom-float-right" href="add-comment">Add a new comment</a>
    </div>
    <div class="nhsuk-grid-column-full">        
        <ol class="nhsbsa-timeline nhsuk-u-margin-top-7">
            <li class="nhsbsa-timeline__event most-recent">
                <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">New data release</h3>
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-1">Author: Admin</p>
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-3">Date posted: 22 October 2025</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quis perspiciatis repellendus adipisci beatae in assumenda itaque incidunt laborum. Omnis!</p>                
            </li>
            <li class="nhsbsa-timeline__event">
                <h3 class="nhsuk-heading-s">Data dictionary update</h3>
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-1">Author: Admin</p>
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-3">Date posted: 22 October 2025</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>                 
            </li>
            <li class="nhsbsa-timeline__event">
                <h3 class="nhsuk-heading-s">Removed Tables</h3>
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-1">Author: Admin</p>
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-3">Date posted: 22 October 2025</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse alias natus architecto fuga, reprehenderit fugit nesciunt cupiditate, nisi libero similique accusamus, voluptas totam vel assumenda? Vero ea repudiandae deserunt magni labore, neque itaque aliquid placeat ab, nostrum tempore rem et.</p>                  
            </li>
            <li class="nhsbsa-timeline__event">
                <h3 class="nhsuk-heading-s">New data release</h3>
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-1">Author: Admin</p>
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-3">Date posted: 22 October 2025</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quis perspiciatis repellendus adipisci beatae in assumenda itaque incidunt laborum. Omnis!</p>                   
            </li>
            <li class="nhsbsa-timeline__event first-log">
                <h3 class="nhsuk-heading-s">Premium Priced Generics</h3>              
                <p class="nhsuk-u-margin-top-4">Dashboard has been created.</p>                
            </li>
        </ol>
    </div>
</div>
{% endblock %}