<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% if data.signedIn == 'yes' %}
    {% extends 'layouts/v5/layout-data-product-footer.html' %}    
{% else %}
    {% extends 'layouts/v5/layout.html' %}
{% endif %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'dc146' %}

<!-- Set the page title -->
{% block pageTitle %}
Training guides - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.njk" %}
    {% if data['productSignedInAs'] == 'eops' %}
        {{ breadcrumb({
            items: [
            {
                href: "/data-hub/mvp/dc146/homepage",
                text: "Home"
            },
            {
                href: "/data-hub/mvp/dc146/data-products/eops/eops-loggedin",
                text: "Electronic Ophthalmic (eOPS)"
            }
            ]
        }) }}
    {% else %}
        {{ breadcrumb({
            items: [
            {
                href: "/data-hub/mvp/dc146/homepage",
                text: "Home"
            },
            {
                href: "javascript:history.back()",
                text: "Electronic Ophthalmic (eOPS)"
            }
            ]
        }) }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-6">
        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l">Electroni Ophthalmic (eDEN)</span>Training catalogue</h1>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">Filters</h2>
        <div class="nhsuk-hint" id="contact-hint">
            Select multiple options that are relevant to you
        </div>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading">
                        Experience level
                    </h3>
                </legend>
                <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Beginner
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Intermediate
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Advanced
                        </label>
                    </div>                  
                </div>
            </fieldset>
        </div>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Content type
                    </h3>
                </legend>
                <div class="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            e-Learning
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            PDF
                        </label>
                    </div> 
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                            Video
                        </label>
                    </div>                                
                </div>
            </fieldset>
        </div>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Data tool
                    </h3>
                </legend>
                <div class="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="api" name="data-tool" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="api">
                            API
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="create-analysis" name="data-tool" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="create-analysis">
                            Create analysis
                        </label>
                    </div> 
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="excel" name="data-tool" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="excel">
                            Excel
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="power-bi" name="data-tool" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="power-bi">
                            Power BI
                        </label>
                    </div>        
                </div>
            </fieldset>
        </div>              
        <a href="#">Clear filters</a> 
        <a class="nhsuk-button nhsuk-u-margin-top-4" href="#">Apply filters</a>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <span class="nhsuk-heading-s nh">Showing 1 to 3 of 3 results</span>
            </div>
            <div class="nhsuk-grid-column-one-half custom-sort-by">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-u-margin-right-2" for="select-1">
                        Sort by
                    </label> <select class="nhsuk-select" id="select-1" name="select-1">
                        <option value="1" selected>Recently updated</option>                        
                        <option value="2">Most viewed</option>                
                        <option value="2">Alphabetical</option>        
                    </select>
                </div>
            </div>
        </div>
        <hr class="nhsuk-u-margin-top-0">

        <h2 class="nhsuk-heading-s"><a href="https://www.nhsbsa.nhs.uk/sites/default/files/2023-05/eOPS%20-%20Accessing%20the%20System%20user%20guide_2023_05.pdf" target="_blank">eOPS Accessing the System user guide (PDF: 731KB)</a></h2>
        <p>A guide to help you log-in to the system</p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Using eOPS v.3 dashboard user guide (Word: 2.42MB)</a></h2>
        <p>A guide to show you how to navigate to, access and use the eOPS v3 dashboard.</p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Using eOPS dashboards v1 & v2 (PDF: 1.14MB)</a></h2>
        <p>A guide to show you how to navigate to, access and use the eOPS v1 & v2 dashboards.</p>

    </div>
</div>
{% endblock %}