  {% extends "prototype-kit-template.njk" %}

  {% block head %}
    <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
    <link href="/assets/sass/main.css" rel="stylesheet">
  {% endblock %}

<!-- custom header -->
{% block header %}

{% set homePage = '/data-hub/mvp/' + prototypeVersion + '/homepage' %}
{% set items = [{ text: 'Sign in or create account', href: '/data-hub/mvp/'+prototypeVersion+'/auth/sign-in' }] %}

{% if data.signedIn === 'yes' %}
    {% set items = [
        { text: 'My account', href: '/data-hub/mvp/' + prototypeVersion + '/auth/my-account' },
        { text: 'Sign out', href: 'sign-out' }
    ] %}
{% endif %}


{{ header({
  logo: {
    href: homePage,
    ariaLabel: 'Home'
  },
  service: {
    text: 'Data Hub',
    href: homePage
  },
  account: {
    items: items
  }
}) }}

{% endblock %}

  {% block main %}
        <div class="nhsuk-width-container">{% block beforeContent %}{% endblock %}</div>
        {% block heroContent %}{% endblock %}
        <div class="nhsuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">
          <main class="nhsuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="maincontent" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
            {% block content %}{% endblock %}
          </main>
        </div>
  {% endblock %}

<!-- Edit the footer -->
{% block footer %}
{{ footer({
meta: {
items: [
{
href: "#",
text: "Accessibility statement"
},
{
href: "#",
text: "Contact us"
},
{
href: "#",
text: "Cookies"
},
{
href: "#",
text: "Privacy policy"
},
{
href: "#",
text: "Terms and conditions"
},
{
href: "/iteration-history",
text: "Prototype version history (prototype only)"
},
{
href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
text: "Reset data (prototype only)"
}
]
},
copyright: {
text: "NHS Business Services Authority"
}
}) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="/assets/javascript/main.js"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}