<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v1/layout.html -->
{% extends 'layouts/v1/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'v2' %}

<!-- Set the page title -->
{% block pageTitle %}
News and events - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
    items: [
      {
        href: "/data-hub/mvp/v2/data-products",
        text: "Data products"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-6">
        <h1 class="nhsuk-heading-l"><span
            class="nhsuk-caption-m">Prescribing and dispensing data</span>Training material</h1>
        <p>Access a variety of user guides for getting started, organisation type and functional guides.</p>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Filters</h2>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Type of guides
                    </h3>
                </legend>
                <div class="nhsuk-hint nhsuk-u-visually-hidden" id="example-hint">
                    Select all options that are relevant to you.
                </div>
                <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Beginner guides
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Video guides
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Organisation type
                    </h3>
                </legend>
                <div class="nhsuk-hint nhsuk-u-visually-hidden" id="example-hint">
                    Select all options that are relevant to you.
                </div>
                <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            National
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            ICB
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            SICBL
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Hospital Trust
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Primary Care Network (PCN)
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Practice
                        </label>
                    </div>                    
                </div>
            </fieldset>
        </div>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Functionality guides
                    </h3>
                </legend>
                <div class="nhsuk-hint nhsuk-u-visually-hidden" id="example-hint">
                    Select all options that are relevant to you.
                </div>
                <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Create analysis
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Analysis in depth
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Creating and using filters
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Presenting data
                        </label>
                    </div>                  
                </div>
            </fieldset>
        </div>
        <a class="nhsuk-button nhsuk-u-margin-top-4" href="#">Filter result</a>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <span class="nhsuk-heading-s nh">62 results</span>
            </div>
            <div class="nhsuk-grid-column-two-thirds custom-sort-by">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-u-margin-right-2" for="select-1">
                        Sort by
                    </label> <select class="nhsuk-select" id="select-1" name="select-1">
                        <option value="1" selected>Updated (newest)</option>
                        <option value="2">option 2</option>
                        <option value="3">option 3</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="nhsuk-u-margin-top-0">

        <h2 class="nhsuk-heading-s"><a href="https://www.nhsbsa.nhs.uk/sites/default/files/2024-04/ePACT2%20User%20Guide%20-%20Quick%20Start.pdf" target="_blank">ePACT2 User Guide - Quick Start (PDF: 740KB) <span class="nhsuk-u-visually-hidden">(Opens in a new tab)</span></a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 User Guide - Accessing and Using Dashboards and Pre-built Reports (PDF: 2.1MB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - National Reports to get you started (PDF: 520KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - National Accessing and using Financial Reports (PDF: 2.25MB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - ICB Reports to get you started (PDF: 664KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - ICB Controlled Drug Monitoring Reports (PDF: 1.1MB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - ICB Accessing and using Financial Reports (PDF: 2.5MB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">Introductory pre-recorded webinar for SICBL ePACT2 users (YouTube video)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - SICBL Reports to get you started (PDF: 659KB)</a></h2>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#">ePACT2 - Reconciling your NHSBSA invoice (PDF: 1.05MB)</a></h2>
        <hr>

        <!-- pagination -->
        {{ pagination({
            nextUrl: "#",
            nextPage: "2 of 5"
          }) }}
    </div>
</div>
{% endblock %}