<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v6/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'v6' %}
{% set pageHeader = 'Browse our reports' %}


<!-- GET THE ITEMS -->
{% set publicItems = ( 'app/assets/csv/catalyst/' ) | getDirectoryFiles | getJSONFromCSVs %}
{% set prescribingItems = ( 'app/assets/csv/prescribing/' ) | getDirectoryFiles | getJSONFromCSVs %}
{% set prescribingItems = publicItems | removePrescribingDuplicates( prescribingItems ) %}
{% set dentalItems = ( 'app/assets/csv/dental/' ) | getDirectoryFiles | getJSONFromCSVs %}
{% set ophthalmicItems = ( 'app/assets/csv/ophthalmic/' ) | getDirectoryFiles | getJSONFromCSVs %}

{% set allItems = publicItems | mergeArrays( prescribingItems, dentalItems, ophthalmicItems ) %}

<!-- FILTER THE ITEMS BY REPORT TYPES -->
{% if data.reportTypeFilters %}
    {% set allItems = ( data.reportTypeFilters | filterReportsByType( allItems ) ) %}
{% endif %}

<!-- FILTER THE ITEMS BY OTHER -->
{% if data.otherFilters %}
    {% set allItems = ( data.otherFilters | filterReportsByOther( allItems ) ) %}
{% endif %}


<!-- FILTER THE ITEMS BY SEARCH TERMS -->
{% if data.searchTerms %}
    {% set allItems = ( data.searchTerms | filterReportsBySearchTerm( allItems ) ) %}
{% endif %}

{% set postFilterItems = allItems %}

{% set allItems = ( allItems | sortItemsAlphabetically ) %}



<!-- Set the page title -->
{% block pageTitle %}{{ pageHeader }} - {{ serviceName }} - NHSBSA{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
    items: [
      {
        href: '/data-hub/mvp/'+prototypeVersion+'/',
        text: 'Home'
      }
    ]
  }) }}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-l">{{ pageHeader }}</h1>
        {% if ( ( postFilterItems | length ) > 0 ) %} 
            {% if ( ( postFilterItems | length ) === 1 ) %}
                <span class="nhsuk-caption-l">1 report found</span>
            {% else %}
                <span class="nhsuk-caption-l">{{ postFilterItems | length }} reports found</span>
            {% endif %}
        {% endif %}

        <!-- SHOULD I OPEN THE DETAILS EXPANDER LOGIC -->
        {% set openDetails = false %}
        
        {% if data.reportTypeFilters and ( ( data.reportTypeFilters | length ) < 3 ) %}
            {% set openDetails = true %}
        {% endif %}

        {% if data.otherFilters and ( ( data.otherFilters | length ) > 0 ) %}
             {% set openDetails = true %}   
        {% endif %}

        <!-- FITLERS -->
        {% call details( { summaryText: 'Filter reports', open: openDetails } ) %}

        <style>

            .nhsuk-form-group:first-of-type{
                margin-bottom: 0;
            }

        </style>

         <form method="post" novalidate>

                    {{ checkboxes({
                        fieldset: {
                            legend: {
                                html: '<span class="nhsuk-u-visually-hidden">Select report types to show</span>',
                                isPageHeading: false
                            }
                        },
                        idPrefix: 'reportTypeFilters',
                        name: 'reportTypeFilters',
                        values: data.reportTypeFilters or ['ePACT','eDEN','eOPS'],
                        inline: true,
                        small: true,
                        items: [
                            {
                                html: 'prescribing' | getTag,
                                value: 'ePACT'
                            },
                            {
                                html: 'dental' | getTag,
                                value: 'eDEN'
                            },
                            {
                                html: 'ophthalmic' | getTag,
                                value: 'eOPS'
                            }

                        ]
                        }) }}

                        {{ checkboxes({
                            fieldset: {
                                legend: {
                                    html: '<span class="nhsuk-u-visually-hidden">Select other filters</span>',
                                    isPageHeading: false
                                }
                            },
                            idPrefix: 'otherFilters',
                            name: 'otherFilters',
                            values: data.otherFilters,
                            inline: true,
                            small: true,
                            items: [
                                {
                                    text: 'Only finance reports',
                                    value: 'finance'
                                },
                                {
                                    html: 'Only public reports',
                                    value: 'public'
                                }
                            ]
                        }) }}



                    {{ button({ text: 'Apply filters', classes: 'nhsuk-u-margin-bottom-0 nhsuk-button--secondary nhsuk-button--small' }) }}


            </form>


        {% endcall %}

        <!-- SEARCH FORM -->
        <form method="post" novalidate>

            <div class="nhsuk-flex-group">

                {{ input({
                    label: {
                        text: 'Search by keyword',
                        isPageHeading: false
                    },
                    hint: {
                        text: 'Add more than one keyword by using commas. For example: prescribing, diabetes, health'
                    },
                    id: 'searchTerm',
                    name: 'searchTerm'
                }) }}

                {% set buttonText = 'Search' %}
                {% if data.searchTerms and ( data.searchTerms | length ) > 0 %}
                    {% set buttonText = 'Add to search' %}
                {% endif %}

                {{ button({
                    text: buttonText,
                    classes: 'nhsuk-button--small'
                }) }}

            </div>

        </form>


        {% if data.searchTerms and ( data.searchTerms | length ) > 0 %}

            <h2 class="nhsuk-heading-s nhsuk-u-margin-top-4">Searched keywords</h2>

            <ul id="searched-keywords" class="nhsuk-list v2">
                {% for term in data.searchTerms %}
                    <li data-keyword="{{ term }}">
                        <a href="?removeTerms={{ term }}">{{ tag( { text: ( term | lower ), classes: 'nhsuk-tag nhsuk-tag--blue a-to-z-search-tag frag-tag' } ) }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div id="clear-all-container">
                <p><a href="?removeTerms=allTerms" id="clear-all-keywords" class="nhsuk-link">Clear all keywords</a></p>
            </div>

            <hr class="nhsuk-section-break nhsuk-section-break--visible" />

        {% endif %}

        <!-- A TO Z LIST -->
        {{ allItems | getActiveLetters | generateAToZLinks | safe }}

        <!-- CARDS -->
        {% if ( ( allItems | length ) > 0 ) %}
            {% for item in allItems %}

                {% call card({
                    id: item.letter,
                    heading: item.letter,
                    variant: 'feature'
                }) %}

                    <ol class="nhsuk-list nhsuk-list--border">
                        {% for report in item.items %}
                            <li>
                                <h3 class="nhsuk-u-margin-bottom-2 nhsuk-heading-xs"><a class="nhsuk-link" href="view?id={{ report.data_product_external_id }}&tag={{ report.tag }}">{{ report.data_product_name | safe }}</a></h3>
                                <p class="nhsuk-u-margin-bottom-2">{{ report.data_product_description | safe }}</p>
                                {% if report.tag %}{{ report.tag | getTag | safe }}{% endif %}{% if report.is_finance %} {{ tag({ text: 'Finance', colour: 'white' }) }}{% endif %}
                            </li>
                        {% endfor %}
                    </ol>

                {% endcall %}

            {% endfor %}
        {% else %}

            {% call card({
                    heading: 'No reports found',
                    variant: 'feature'
            }) %}
            <p>Please try again with different search terms or filters.</p>
            {% endcall %}

        {% endif %}



    </div>
</div>
{% endblock %}