{% extends '../dc146/data-products/epact/dashboards/data-exploration--v3.html' %}

{% block header %}

    {% set prototypeVersion = 'v6' %}
    {% set pageHeader = 'Explore our data' %}
  
    {% block headerTop %}{% endblock %}

    {% if data.signedIn == 'yes' %}
    {% set accountItems = [] %}

    {% if data['full-name'] and data['job-role'] %}
      {% set accountItems = accountItems.concat([{
        text: data['full-name'] + ' (' + data['job-role'] + ')',
        icon: true
      }]) %}
    {% else %}
      {% set accountItems = accountItems.concat([{
        text: 'Florence Nightingale (Senior Information Analyst)',
        icon: true
      }]) %}
    {% endif %}
    
    {% set accountItems = accountItems.concat([
      { text: 'My account', href: '/data-hub/mvp/' + prototypeVersion + '/auth/my-account' },
      { text: 'Sign out', href: '/data-hub/mvp/' + prototypeVersion + '/auth/signed-out?signedIn=no&userType=' }
    ]) %}
    
    {{ header({
      logo: {
        href: '/data-hub/mvp/v6/',
        ariaLabel: 'NHS Business Services Authority'
      },
      organisation: {
        name: 'Business Services Authority',
        descriptor: 'Data Hub'
      },
      account: {
        items: accountItems
      }
    }) }}
    {% else %}
        {{ header({
            logo: {
            href: '/data-hub/mvp/v6/',
            ariaLabel: 'NHS Business Services Authority'
            },
            organisation: {
                name: 'Business Services Authority',
                descriptor: 'Data Hub'
            },
            account: {
            items: [
                      {
                        text: 'Sign in',
                        href: '/data-hub/mvp/' + prototypeVersion + '/auth/entra-id/enter-username?returnURL=' + ( currentURL | urlencode ),
                        icon: true
                      }
                    ]
            }
        }) }}
    {% endif %}
  {% endblock %}

{% block beforeContent %}
    {% include "includes/phase-banner.njk" %}
    {{ breadcrumb({
        items: [
            {
                href: "/data-hub/mvp/v6/",
                text: "Home"
            }
        ]
    }) }}
{% endblock %}