<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/v1/layout-data-hub.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- include mini search box in the header -->
{% set includeMiniSearch = 'yes' %}
<!-- Hero Filter Buttons -->
{% set showFilter = "yes" %}

<!-- Set the page title -->
{% block pageTitle %}
eOPS - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
items: [
{
href: "/data-hub/v1/homepage",
text: "Home"
},
{
href: "/data-hub/v1/explore-our-data/explore-our-data",
text: "Explore our data"
},
{
href: "/data-hub/v1/explore-our-data/data-products/data-products",
text: "Data products"
}
]
}) }}
{% endblock %}

<!-- heroContent, large blue section at the top of homepage or any data area landing page -->
{% block heroContent %}
<div class="nhsuk-width-container-fluid {{ containerClasses }} nhsuk-u-margin-left-0 nhsuk-u-margin-right-0">
    <section class="nhsuk-hero">
        <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-hero__wrapper app-hero__wrapper">
                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-two-thirds">
                                <h1 class="nhsuk-u-margin-bottom-4"><span
                                        class="nhsuk-caption-l custom-hero-caption">Data
                                        Products</span>Ophthalmic Data (eOPS)</h1>
                                <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">The service will allow you to access
                                    interactive and easy to use dental data reports and dasboards</p>
                                <form class="nhsuk-header__search-form nhsuk-u-margin-top-4" id="search" action=" "
                                    method="get" role="search">
                                    <label class="nhsuk-label" for="search-field">Search the Data Hub</label>
                                    <input class="nhsuk-search__input" id="search-field" name="search-field"
                                        type="search" autocomplete="off">
                                    <button class="nhsuk-search__submit" type="submit">
                                        <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                            <path
                                                d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z">
                                            </path>
                                        </svg>
                                        <span class="nhsuk-u-visually-hidden">Search</span>
                                    </button>
                                </form>
                                <!-- Show filter at top of HTML -->
                                {% if 'yes' in showFilter %}
                                <button
                                    class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0"
                                    data-module="nhsuk-button" type="submit">
                                    Reports
                                </button>
                                <button
                                    class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
                                    data-module="nhsuk-button" type="submit">
                                    Dashboards
                                </button>
                                <button
                                    class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
                                    data-module="nhsuk-button" type="submit">
                                    Latest release
                                </button>
                                <button
                                    class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
                                    data-module="nhsuk-button" type="submit">
                                    Ophthalmic
                                </button>
                                {% endif %}
                            </div>
                            <!-- <div class="nhsuk-grid-column-one-third">
                                <a class="nhsuk-button nhsuk-button--secondary custom-float-right" href="#">Request access</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-4">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae explicabo molestiae, ipsum magnam nesciunt natus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptatum qui recusandae distinctio totam temporibus voluptatem ipsa eum aliquam perferendis.</p>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Understanding eOPS data
              </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </details>
        <hr>
        <h2 class="nhsuk-heading-l">User guides</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur nulla reiciendis, temporibus ipsam expedita autem architecto! Porro, repellat. Eum voluptatem minus repellendus aliquam quam iusto, cumque cum impedit adipisci quas?</p>
        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="#">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Explore eOPS user guides</span>
            </a>
          </div>
        <hr>
        <h2 class="nhsuk-heading-l">Sign in or create account</h2>
        <p>Create a Data Hub account to be able to request access to Ophthalmic data.</p>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                What access will I have with an account?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, optio.</p>
            </div>
          </details>
        <a class="nhsuk-button" href="provider-assurance-logged-in">Sign into the Data Hub</a>
        <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-4" href="#">Create a Data Hub account</a>
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-7">
        <h2 class="nhsuk-heading-s">Using our data</h2>
        <p><a href="#">Data methodology</a></p>
        <p><a href="#">Data calculations</a></p>        
        <p><a href="#">Refresh dates</a></p>        
        <p><a href="#">Software and tools support</a></p>
        <h2 class="nhsuk-heading-s">Useful links</h2>
        <p><a href="#">Contact</a></p>
        <p><a href="#">Data dictionary</a></p>
        <p><a href="#">Guidance</a></p>
        <p><a href="#">News</a></p>
        <p><a href="#">Policies</a></p>
        <p><a href="#">Requesting data</a></p>
        <p><a href="#">Supporting documents</a></p>
        <p><a href="#">System access</a></p>
        <p><a href="#">Training resources</a></p>        
    </div>
</div>
{% endblock %}