<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layouts/v3/layout.html -->
{% extends 'layouts/v5/layout.html' %}

<!-- Set the prototype version folder number here for links to work correctly in the header (layout.html) -->
{% set prototypeVersion = 'dc146' %}

<!-- Set the page title -->
{% block pageTitle %}
Training guides - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
    {% if data['productSignedInAs'] == 'eden' %}
        {{ breadcrumb({
            items: [
            {
                href: "/data-hub/mvp/dc146/homepage",
                text: "Home"
            },
            ,
            {
            href: "/data-hub/mvp/dc146/dental-data",
            text: "Dental"
            },
            {
                href: "/data-hub/mvp/dc146/data-products/eden/eden-loggedin",
                text: "eDEN"
            }
            ]
        }) }}
    {% else %}
        {{ breadcrumb({
            items: [
            {
                href: "/data-hub/mvp/dc146/homepage",
                text: "Home"
            },
            ,
            {
            href: "/data-hub/mvp/dc146/dental-data",
            text: "Dental"
            },
            {
                href: "javascript:history.back()",
                text: "eDEN"
            }
            ]
        }) }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-6">
        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l">Electonic Dental (eDEN)</span>Training catalogue</h1>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">Filters</h2>
        <div class="nhsuk-hint" id="contact-hint">
            Select multiple options that are relevant to you.
        </div>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading">
                        Experience level
                    </h3>
                </legend>
                <div class="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Beginner
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Intermediate
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Advanced
                        </label>
                    </div>                  
                </div>
            </fieldset>
        </div>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Content type
                    </h3>
                </legend>
                <div class="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            e-Learning
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            PDF
                        </label>
                    </div> 
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                            Video
                        </label>
                    </div>                                
                </div>
            </fieldset>
        </div>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h3 class="nhsuk-fieldset__heading nhsuk-u-margin-top-3">
                        Data tool
                    </h3>
                </legend>
                <div class="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="api" name="data-tool" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="api">
                            API
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="create-analysis" name="data-tool" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="create-analysis">
                            Create analysis
                        </label>
                    </div> 
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="excel" name="data-tool" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="excel">
                            Excel
                        </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="power-bi" name="data-tool" type="checkbox"
                            value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="power-bi">
                            Power BI
                        </label>
                    </div>        
                </div>
            </fieldset>
        </div>         
        <a href="#">Clear filters</a>      
        <a class="nhsuk-button nhsuk-u-margin-top-4" href="#">Apply filters</a>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <span class="nhsuk-heading-s nh">Showing 1 to 8 of 8 results</span>

            </div>
            <div class="nhsuk-grid-column-one-half custom-sort-by">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-u-margin-right-2" for="select-1">
                        Sort by
                    </label> <select class="nhsuk-select" id="select-1" name="select-1">
                        <option value="1" selected>Recently updated</option>                         
                        <option value="2">Most viewed</option>                
                        <option value="2">Alphabetical</option>       
                    </select>
                </div>
            </div>
        </div>
        <hr class="nhsuk-u-margin-top-0">

        <h2 class="nhsuk-heading-s"><a href="https://www.nhsbsa.nhs.uk/sites/default/files/2023-05/eDEN%20-%20Accessing%20the%20System%20user%20guide_2023_05.pdf" target="_blank">Accessing the System user guide (PDF: 700KB)</a></h2>
        <p>A guide to help you log-in to the system</p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#" target="_blank">Using eDEN for English dental commissioners (PDF: 1.62MB)</a></h2>
        <p>A guide to show english dental commissioners how to navigate to, access and use the dashboards available in the system.</p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#" target="_blank">Using eDEN for English dental providers (PDF: 1.58MB)</a></h2>
        <p>A guide to show english dental providers how to navigate to, access and use the dashboards available in the system.</p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#" target="_blank">Getting started with eDEN for English dental commissioners (YouTube video)</a></h2>
        <p>A short video showing english dental commissioners how to navigate to, access and use the dashboards available in the system.</p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#" target="_blank">Getting started with eDEN for English dental providers (YouTube video)</a></h2>
        <p>A short video showing english dental providers how to navigate to, access and use the dashboards available in the system.</p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#" target="_blank">Using eDEN for Welsh dental commissioners (PDF: 1.77MB)</a></h2>
        <p>A guide to show welsh dental commissioners how to navigate to, access and use the dashboards available in the system.</p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#" target="_blank">Using eDEN for Welsh dental providers (PDF: 1.21MB)</a></h2>
        <p>A guide to show welsh dental providers how to navigate to, access and use the dashboards available in the system.</p>
        <hr>
        <h2 class="nhsuk-heading-s"><a href="#" target="_blank">Getting started with eDEN for Welsh dental providers (YouTube video)</a></h2>
        <p>A short video showing welsh dental providers how to navigate to, access and use the dashboards available in the system.</p>

    </div>
</div>
{% endblock %}