
<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layouts/layout-data-hub.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
A location to host our data products - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
<div class="nhsuk-back-link"> <a class="nhsuk-back-link__link" href="javascript:history.back()">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" height="24" width="24">
            <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
        </svg>
        Go back</a>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l">Design log</span>
            A location to host our data products
        </h1>
        <p class="nhsuk-body-s"><span class="nhsuk-u-font-weight-bold">Data published:</span> [date]</p>
        <p class="nhsuk-body-s"><span class="nhsuk-u-font-weight-bold">Prototype URL:</span> <a href="#">[inset URL]</a></p>
        <p class="nhsuk-body-s"><span class="nhsuk-u-font-weight-bold">Version:</span> <strong class="nhsuk-tag nhsuk-tag--blue">
            [Version number]
        </strong></p>
        <p class="nhsuk-body-s"><span class="nhsuk-u-font-weight-bold">Designer:</span> <br>Dean Cobb</p>
        <p class="nhsuk-body-s"><span class="nhsuk-u-font-weight-bold">Email:</span> <br><a href="mailto:dean.cobb@nhsbsa.nhs.uk">dean.cobb@nhsbsa.nhs.uk</a></p>
        
        <hr>

        <h2 class="nhsuk-heading-m">Why we did this work</h2>
        <p>...</p>

        <h2 class="nhsuk-heading-m">What our ideas were</h2>
        <p>...</p>

        <h2 class="nhsuk-heading-m">How we tested them and what we found</h2>
        <p>...</p>

        <h2 class="nhsuk-heading-m">What we will do next</h2>
        <p>...</p>

        <h2 class="nhsuk-heading-m">Resources</h2>
        <p>...</p>
 
    </div>
</div>
{% endblock %}