<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/prod-metrics-layout-warning.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="javascript:history.back()">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true" height="24" width="24">
                    <path
                        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                </svg>
                Go back</a>
        </div>

        <span class="nhsuk-caption-l">Baby Loss Certificate</span>
        <h1 class="nhsuk-heading-xl">Latest release</h1>

        <p>Release points:</p>
        <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-bottom-7">
            <li>Fix validation checker</li>
            <li>Fix validation notification</li>
            <li>Fix validation authentication</li>
        </ul>
    </div>

    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h3 class="nhsuk-heading-s">Transactions impact</h3>
                <p>Transactions have reached the highest number since the start of the year.</p>
                <img class="nhsuk-image__img" src="/images/generated-data/transactions.png" alt="AWS Compute Daily" style="width:100%;height:100%;">
                <p class="nhsuk-u-margin-top-3"><a href="#">View as table</a> | <a href="#">Download snapshot</a> | <a href="#">Expand</a></p>
            </div>
        </div>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h3 class="nhsuk-heading-s">Calls impact</h3>
                <p>There has been an enormous drop in calls made to the call centre.</p>
                <img class="nhsuk-image__img" src="/images/generated-data/calls.png" alt="AWS Compute Daily" style="width:100%;height:100%;">
                <p class="nhsuk-u-margin-top-3"><a href="#">View as table</a> | <a href="#">Download snapshot</a> | <a href="#">Expand</a></p>                
            </div>
        </div>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h3 class="nhsuk-heading-s">Customer Satisfaction impact</h3>
                <p>Feedback shows that customers satisfaction has increased by a major 82.01%.</p>
                <img class="nhsuk-image__img" src="/images/generated-data/csat.png" alt="AWS Compute Daily" style="width:100%;height:100%;">
                <p class="nhsuk-u-margin-top-3"><a href="#">View as table</a> | <a href="#">Download snapshot</a> | <a href="#">Expand</a></p>
            </div>
        </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-m">Release history</h2>
        <p><a href="">View previous releases</a></p>
    </div>
</div>
{% endblock %}