<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'data-hub/v1/layout-dashboard-full-width.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- include mini search box in the header -->
{% set includeMiniSearch = 'no' %}

<!-- Set the page title -->
{% block pageTitle %}
Datasets - {{ serviceName }} - NHSBSA
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nav class="nhsuk-u-margin-bottom-5" aria-label="Breadcrumb">
            <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-2" href="premium-priced-generics">Exit full screen</a>
        </nav>
        <h1 class="nhsuk-heading-l">Premium Priced Generics</h1>
        <h2 class="nhsuk-heading-m">Practice in SICBL</h2>
        <iframe title="Example Visuals For Embedded Testing" width="100%" height="1000px"
            src="https://app.powerbi.com/reportEmbed?reportId=0a04eb18-db8c-42c6-90a7-8d9b75f824a6&autoAuth=true&ctid=cf6d0482-86b1-4f88-8c0c-3b4de4cb402c"
            frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
{% endblock %}