<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
{{ serviceName }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-xl">NHS Business Services Authority</span>
            Individual areas of data
        </h1>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <a class="nhsuk-action-link" href="product-performance/index">
            <svg class="nhsuk-icon nhsuk-icon--arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
              <path d="M12 2a10 10 0 0 0-10 9h11.7l-4-4a1 1 0 0 1 1.5-1.4l5.6 5.7a1 1 0 0 1 0 1.4l-5.6 5.7a1 1 0 0 1-1.5 0 1 1 0 0 1 0-1.4l4-4H2A10 10 0 1 0 12 2z"/>
            </svg>
            <span class="nhsuk-action-link__text">Product Performance</span>
          </a>
    </div>
    <div class="nhsuk-grid-column-full">
        <hr class="nhsuk-u-margin-top-0">
        <h2 class="nhsuk-heading-m">User centred design team</h2>
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Service Designer
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Phillip Meredith
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:phillip.meredith@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    User Researcher
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Jehana Copilah-Ali
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:jehana.copilah-ali@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Interaction Designer
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Dean Cobb
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:dean.cobb@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
        </dl>
    </div>
</div>
{% endblock %}