<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
{{ serviceName }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-xl">NHS Business Services Authority</span>
            Individual areas of data
        </h1>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="product-performance/index">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Product Performance</span>
            </a>
          </div>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="#">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Create a Data Request</span>
            </a>
          </div>
    </div>
    <div class="nhsuk-grid-column-full">
        <hr class="nhsuk-u-margin-top-0">
        <h2 class="nhsuk-heading-m">User centred design team</h2>
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Service Designer
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Phillip Meredith
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:phillip.meredith@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    User Researcher
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Jehana Copilah-Ali
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:jehana.copilah-ali@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Interaction Designer
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Dean Cobb
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:dean.cobb@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
        </dl>

        <!-- <h2 class="nhsuk-heading-m">Project resources</h2>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li><p><a href="https://miro.com/app/board/uXjVLDW-yQk=/">Provider Assurance Miro Board</a></p></li>
            <li><p><a href="https://bsa2468.atlassian.net/wiki/spaces/IN/pages/5073305622/Discovery+-+Provider+Assurance">Provider Assurance Discovery</a></p></li>
            <li><p><a href="https://bsa2468.atlassian.net/wiki/spaces/IN/pages/5073338374/Alpha+-+Provider+Assurance">Provider Assurance Alpha</a></p></li>
            <li><p><a href="https://bsa2468.atlassian.net/wiki/spaces/IN/pages/4551442551/Data+Hub">Data Hub</a></p></li>
        </ul> -->
    </div>
</div>
{% endblock %}