<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
{{ serviceName }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-xl">NHS Business Services Authority</span>
            {{ serviceName }}
        </h1>

        <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Our vision</h2>
        <p>To accelerate the user experience from 'enquiry to insight' through a unified, intuitive entry point that
            integrates NHSBSA data products and services.</p>

        <hr>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content nhsuk-card__content--primary">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="data-hub/mvp/v2/data-products">View latest prototype</a>
                  </h2>
                  <p class="nhsuk-card__description">This version of the prototype is what will be going through the next round of user research</p>
          
                  <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                    <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                    <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                      <path d="M15.438 13l-3.771 3.771" />
                      <path data-name="Path" d="M11.667 9.229L15.438 13" />
                    </g>
                  </svg>
          
                </div>
              </div>
          
            </li>
          </ul>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content nhsuk-card__content--primary">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="iteration-history">Iteration history</a>
                  </h2>
                  <p class="nhsuk-card__description">The iteration history will list all Data Hub prototype versions created and provide context around that version</p>
          
                  <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                    <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                    <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                      <path d="M15.438 13l-3.771 3.771" />
                      <path data-name="Path" d="M11.667 9.229L15.438 13" />
                    </g>
                  </svg>
          
                </div>
              </div>
          
            </li>
          </ul>
    </div>
    <div class="nhsuk-grid-column-full">
        <hr class="nhsuk-u-margin-top-0">
        <h2 class="nhsuk-heading-m">Individual areas of data</h2>
        <p>Here you will find a history of prototype iterations for the different areas of data that have been worked on so far. These areas of data will integrate into the wider Data Hub service.</p>
        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="areas-of-data-index">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Individual areas of data</span>
            </a>
          </div>
    </div>
    <div class="nhsuk-grid-column-full">
        <hr class="nhsuk-u-margin-top-0">
        <h2 class="nhsuk-heading-m">User centred design team</h2>
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Service Designer
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Phillip Meredith
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:phillip.meredith@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    User Researcher
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Jehana Copilah-Ali
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:jehana.copilah-ali@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Interaction Designer
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Dean Cobb
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:dean.cobb@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
        </dl>

        <!-- <h2 class="nhsuk-heading-m">Project resources</h2>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li><p><a href="https://miro.com/app/board/uXjVLDW-yQk=/">Provider Assurance Miro Board</a></p></li>
            <li><p><a href="https://bsa2468.atlassian.net/wiki/spaces/IN/pages/5073305622/Discovery+-+Provider+Assurance">Provider Assurance Discovery</a></p></li>
            <li><p><a href="https://bsa2468.atlassian.net/wiki/spaces/IN/pages/5073338374/Alpha+-+Provider+Assurance">Provider Assurance Alpha</a></p></li>
            <li><p><a href="https://bsa2468.atlassian.net/wiki/spaces/IN/pages/4551442551/Data+Hub">Data Hub</a></p></li>
        </ul> -->
    </div>
</div>
{% endblock %}