<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layouts/v1/layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
{{ serviceName }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-padding-top-7">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-xl">NHS Business Services Authority</span>
            {{ serviceName }}
        </h1>

        <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Our vision</h2>
        <p>To accelerate the user experience from 'enquiry to insight' through a unified, intuitive entry point that
            integrates NHSBSA data products and services.</p>

        <hr>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-full nhsuk-card-group__item">
            {{ card({
              href: "data-hub/mvp/v4-3/homepage",
              primary: "true",
              clickable: "true",
              heading: "View latest prototype",
              headingClasses: "nhsuk-heading-m",
              description: "MVP version 4.3 is what will be going through the next round of
              user research"
            }) }}
            </li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-full nhsuk-card-group__item">
            {{ card({
              href: "iteration-history",
              primary: "true",
              clickable: "true",
              heading: "Iteration history",
              headingClasses: "nhsuk-heading-m",
              description: "The iteration history will list all Data Hub prototype
              versions created and provide context around that version"
            }) }}
            </li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-full">
        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    DC146
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <!-- Version 4.3 -->
                <!-- <h2 class="nhsuk-heading-m">Version 5</h2> -->                
                <h2 class="nhsuk-heading-s">Business require</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">                    
                    <li>remove admin access</li>
                    <li>remove admin screens to add news articles</li>
                    <li>remove admin screens to add training guides</li>
                    <li>remove admin screens to add dashboards and reports</li>
                    <li>remove functionality to edit and delete existing news, training, dashboards and reports</li>
                    <li>remove signposting screen for Prescribing and dispensing / Dental</li>
                    <li>move public data from Prescribing and dispensing / Dental signposting screen to the homepage and make this generic public data links to the NHSBSA website and Open data portal</li>
                    <li>training catalogue and book a webinar links on the training hub landing page to now point to the NHSBSA website</li>
                    <li>remove compass from eDEN access (my account)</li>
                    <li>remove dashboard updates (change long)</li>
                </ul>
                <!-- <h2 class="nhsuk-heading-s">Iterations</h2>
                <ul class="nhsuk-list nhsuk-list--bullet">                    
                    <li>...</li>
                </ul> -->
                <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
                <h2 class="nhsuk-heading-s">User type</h2>
                <a class="nhsuk-button" href="data-hub/mvp/dc146/homepage?userType=">Data hub only</a>
                <a class="nhsuk-button" href="data-hub/mvp/dc146/homepage?userType=epact">ePACT</a>
                <a class="nhsuk-button" href="data-hub/mvp/dc146/homepage?userType=eden">eDEN</a>
                <a class="nhsuk-button" href="data-hub/mvp/dc146/homepage?userType=edenWelsh">eDEN Welsh</a>
                <a class="nhsuk-button" href="data-hub/mvp/dc146/homepage?userType=eops">eOPS</a>
                <a class="nhsuk-button" href="data-hub/mvp/dc146/homepage?userType=mod">Ministry of Defence</a>
                <a class="nhsuk-button" href="data-hub/mvp/dc146/homepage?userType=hot">Home Oxygen Therapy</a>
                <a class="nhsuk-button" href="data-hub/mvp/dc146/homepage?userType=admin">Administrator</a>
                <a class="nhsuk-button" href="data-hub/mvp/dc146/homepage?userType=createAnalysis">ePACT (create analysis)</a>
                <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
                <h2 class="nhsuk-heading-s">Directory</h2>
                <a href="data-hub/mvp/dc146/prototype-directory">View version directory</a>            
            </div>
        </details>
    </div>
    <div class="nhsuk-grid-column-full">
        <hr class="nhsuk-u-margin-top-0">
        <h2 class="nhsuk-heading-m">Template History</h2>        
        <p>Here you will be able to navigate through various templates that are created to set a standard for ways of doing things i.e. dashboard templates.</p>
        {{ actionLink({
            text: "Template history",
            href: "history/index"
        }) }}
    </div>
    <div class="nhsuk-grid-column-full">
        <hr class="nhsuk-u-margin-top-0">
        <h2 class="nhsuk-heading-m">User centred design team</h2>
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Service Designer
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Phillip Meredith
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:phillip.meredith@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    User Researcher
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Jehana Copilah-Ali
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:jehana.copilah-ali@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Interaction Designer
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Dean Cobb
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:dean.cobb@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Content Designer
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Chidera Stephen
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:Chidera.Stephen@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Research Operations Specialist
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Nimmi Hetti Pathirannehelage
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="mailto:Nimmi.Hetti-Pathirannehelage@nhsbsa.nhs.uk">
                        Contact by email
                    </a>
                </dd>
            </div>
        </dl>

        <!-- <h2 class="nhsuk-heading-m">Project resources</h2>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li><p><a href="https://miro.com/app/board/uXjVLDW-yQk=/">Provider Assurance Miro Board</a></p></li>
            <li><p><a href="https://bsa2468.atlassian.net/wiki/spaces/IN/pages/5073305622/Discovery+-+Provider+Assurance">Provider Assurance Discovery</a></p></li>
            <li><p><a href="https://bsa2468.atlassian.net/wiki/spaces/IN/pages/5073338374/Alpha+-+Provider+Assurance">Provider Assurance Alpha</a></p></li>
            <li><p><a href="https://bsa2468.atlassian.net/wiki/spaces/IN/pages/4551442551/Data+Hub">Data Hub</a></p></li>
        </ul> -->
    </div>
</div>
{% endblock %}